openapi: 3.1.0
info:
  contact:
    name: Tsuga
    url: https://tsuga.com
  description: HTTP API used by Tsuga customers
  title: Tsuga Public API
  version: 1.0.0
servers:
- url: https://api.tsuga.com
security:
- bearerAuth: []
tags:
- description: Data aggregation and analytics
  name: aggregation
- description: Visualization of telemetry data with customizable graphs and filters
  name: dashboards
- description: API keys for ingesting telemetry data
  name: ingestion-api-keys
- description: Log search and log patterns
  name: logs
- description: Metrics search and aggregation
  name: metrics
- description: Monitors for sending alerts based on telemetry data
  name: monitors
- description: Notification rules for alerts
  name: notification-rules
- description: Notification silences for alerts
  name: notification-silences
- description: Data retention rules for telemetry sources
  name: retention-policies
- description: Routes for processing log data
  name: routes
- description: Tag policies for enforcing tag requirements on Tsuga assets or telemetry
    data
  name: tag-policies
- description: Collection of users for managing ownership and access to resources
  name: teams
- description: Memberships of users in teams
  name: team-memberships
- description: Trace search
  name: traces
- description: User management and authentication
  name: users
paths:
  /v1/aggregation/multi-query/scalar:
    post:
      description: Run aggregation queries and return scalar results
      operationId: aggregateScalar
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/aggregateScalar_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - aggregation
  /v1/aggregation/multi-query/timeseries:
    post:
      description: Run aggregation queries and return timeseries results
      operationId: aggregateTimeseries
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/aggregateTimeseries_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateTimeseries_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - aggregation
  /v1/ingestion-api-keys:
    get:
      description: Retrieve all ingestion API keys
      operationId: listIngestionApiKeys
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - ingestion-api-keys
    post:
      description: Create a new ingestion API key
      operationId: createIngestionApiKey
      requestBody:
        content:
          application/json:
            example:
              name: Production Logs Ingestion
              owner: abc-123-def
              tags:
              - key: env
                value: production
              teamOverrideFields:
              - service
            schema:
              $ref: "#/components/schemas/createIngestionApiKey_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createIngestionApiKey_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - ingestion-api-keys
  /v1/ingestion-api-keys/{id}:
    delete:
      description: Delete an ingestion API key by its id
      operationId: deleteIngestionApiKey
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteIngestionApiKey_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - ingestion-api-keys
    get:
      description: Retrieve an ingestion API key by its id
      operationId: getIngestionApiKey
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getIngestionApiKey_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - ingestion-api-keys
    put:
      description: Update an ingestion API key by its id
      operationId: updateIngestionApiKey
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: Production Logs Ingestion
              owner: abc-123-def
              tags:
              - key: env
                value: production
              teamOverrideFields:
              - service
            schema:
              $ref: "#/components/schemas/createIngestionApiKey_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getIngestionApiKey_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - ingestion-api-keys
  /v1/dashboards:
    get:
      description: Retrieve all dashboards
      operationId: listDashboards
      parameters:
      - description: Filter by owner team IDs
        explode: true
        in: query
        name: owners
        required: false
        schema:
          items:
            maxLength: 250
            minLength: 1
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listDashboards_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - dashboards
    post:
      description: Create a new dashboard
      operationId: createDashboard
      requestBody:
        content:
          application/json:
            example:
              name: API Performance Overview
              owner: abc-123-def
              graphs:
              - id: 789-abc-def
                name: Request Latency P99
                visualization:
                  type: timeseries
                  source: metrics
                  queries:
                  - aggregate:
                      type: percentile
                      field: duration
                      percentile: 99
                    filter: service:api-gateway
                layout:
                  x: 0
                  "y": 0
                  w: 6
                  h: 4
              filters:
              - key: env
                values:
                - production
              tags:
              - key: team
                value: platform
              timePreset: past-1-hour
            schema:
              $ref: "#/components/schemas/createDashboard_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createDashboard_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - dashboards
  /v1/dashboards/{id}:
    delete:
      description: Delete a dashboard by its id
      operationId: deleteDashboard
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteIngestionApiKey_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - dashboards
    get:
      description: Retrieve a dashboard by its id
      operationId: getDashboard
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createDashboard_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - dashboards
    put:
      description: Update a dashboard by its id
      operationId: updateDashboard
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateDashboard_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createDashboard_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - dashboards
  /v1/logs/search:
    get:
      description: Search logs
      operationId: searchLogs
      parameters:
      - explode: true
        in: query
        name: query
        required: false
        schema:
          format: tsuga-query
          maxLength: 10000
          minLength: 0
          type: string
        style: form
      - explode: true
        in: query
        name: maxResults
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: number
        style: form
      - description: Start timestamp in seconds
        example: 1704067200
        explode: true
        in: query
        name: from
        required: true
        schema:
          type: integer
        style: form
      - description: End timestamp in seconds
        example: 1704067200
        explode: true
        in: query
        name: to
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/searchLogs_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - logs
  /v1/metrics:
    get:
      description: Get all metrics with their metadata
      operationId: listMetrics
      parameters:
      - description: Start timestamp in seconds
        example: 1704067200
        explode: true
        in: query
        name: from
        required: true
        schema:
          type: integer
        style: form
      - description: End timestamp in seconds
        example: 1704067200
        explode: true
        in: query
        name: to
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listMetrics_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - metrics
  /v1/metrics/{name}:
    get:
      description: Retrieve a metric by name with its metadata
      operationId: getMetric
      parameters:
      - description: Start timestamp in seconds
        example: 1704067200
        explode: true
        in: query
        name: from
        required: true
        schema:
          type: integer
        style: form
      - description: End timestamp in seconds
        example: 1704067200
        explode: true
        in: query
        name: to
        required: true
        schema:
          type: integer
        style: form
      - description: The metric name
        explode: false
        in: path
        name: name
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getMetric_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - metrics
  /v1/monitors:
    get:
      description: Retrieve all monitors
      operationId: listMonitors
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listMonitors_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - monitors
    post:
      description: Create a new monitor
      operationId: createMonitor
      requestBody:
        content:
          application/json:
            example:
              name: High Error Rate Alert
              message: Error rate exceeded threshold. Check the API gateway logs.
              tags:
              - key: severity
                value: critical
              configuration:
                type: log
                timeframe: 5
                groupByFields: []
                queries:
                - aggregate:
                    type: count
                  filter: level:ERROR service:api-gateway
                condition:
                  formula: q1
                  operator: greater_than
                  threshold: 100
                noDataBehavior: resolve
              priority: 1
              owner: abc-123-def
              dashboardId: 789-abc-def
              permissions: all
            schema:
              $ref: "#/components/schemas/createMonitor_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createMonitor_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - monitors
  /v1/monitors/{id}:
    delete:
      description: Delete a monitor by its id
      operationId: deleteMonitor
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteIngestionApiKey_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - monitors
    get:
      description: Retrieve a monitor by its id
      operationId: getMonitor
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createMonitor_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - monitors
    put:
      description: Update a monitor by its id
      operationId: updateMonitor
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: High Error Rate Alert
              message: Error rate exceeded threshold. Check the API gateway logs.
              tags:
              - key: severity
                value: critical
              configuration:
                type: log
                timeframe: 5
                groupByFields: []
                queries:
                - aggregate:
                    type: count
                  filter: level:ERROR service:api-gateway
                condition:
                  formula: q1
                  operator: greater_than
                  threshold: 100
                noDataBehavior: resolve
              priority: 1
              owner: abc-123-def
              dashboardId: 789-abc-def
              permissions: all
            schema:
              $ref: "#/components/schemas/createMonitor_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createMonitor_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - monitors
  /v1/notification-rules:
    get:
      description: Retrieve all notification rules
      operationId: listNotificationRules
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listNotificationRules_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - notification-rules
    post:
      description: Create a new notification rule
      operationId: createNotificationRule
      requestBody:
        content:
          application/json:
            example:
              name: Critical Alerts
              teamsFilter:
                type: all-teams
              prioritiesFilter:
              - 1
              - 2
              transitionTypesFilter:
              - triggered
              - resolved
              owner: abc-123-def
              isActive: true
              tags:
              - key: channel
                value: alerts
              targets:
              - id: 789-abc-def
                config:
                  type: email
                  addresses:
                  - oncall@example.com
            schema:
              $ref: "#/components/schemas/createNotificationRule_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createNotificationRule_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - notification-rules
  /v1/notification-rules/{id}:
    delete:
      description: Delete a notification rule by its id
      operationId: deleteNotificationRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteIngestionApiKey_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - notification-rules
    get:
      description: Retrieve a notification rule by its id
      operationId: getNotificationRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createNotificationRule_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - notification-rules
    put:
      description: Update a notification rule by its id
      operationId: updateNotificationRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: Critical Alerts
              teamsFilter:
                type: all-teams
              prioritiesFilter:
              - 1
              - 2
              transitionTypesFilter:
              - triggered
              - resolved
              owner: abc-123-def
              isActive: true
              tags:
              - key: channel
                value: alerts
              targets:
              - id: 789-abc-def
                config:
                  type: email
                  addresses:
                  - oncall@example.com
            schema:
              $ref: "#/components/schemas/createNotificationRule_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createNotificationRule_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - notification-rules
  /v1/notification-silences:
    get:
      description: Retrieve all notification silences
      operationId: listNotificationSilences
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listNotificationSilences_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - notification-silences
    post:
      description: Create a new notification silence
      operationId: createNotificationSilence
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createNotificationSilence_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createNotificationSilence_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - notification-silences
  /v1/notification-silences/{id}:
    delete:
      description: Delete a notification silence by its id
      operationId: deleteNotificationSilence
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteIngestionApiKey_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - notification-silences
    get:
      description: Retrieve a notification silence by its id
      operationId: getNotificationSilence
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createNotificationSilence_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - notification-silences
    put:
      description: Update a notification silence by its id
      operationId: updateNotificationSilence
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createNotificationSilence_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createNotificationSilence_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - notification-silences
  /v1/retention-policies:
    get:
      description: Retrieve all retention policies
      operationId: listRetentionPolicies
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listRetentionPolicies_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - retention-policies
    post:
      description: Create a new retention policy
      operationId: createRetentionPolicy
      requestBody:
        content:
          application/json:
            example:
              env: production
              teamId: abc-123-def
              dataSource: logs
              durationDays: 30-days
              isEnabled: true
            schema:
              $ref: "#/components/schemas/createRetentionPolicy_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createRetentionPolicy_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - retention-policies
  /v1/retention-policies/{id}:
    delete:
      description: Delete a retention policy by its id
      operationId: deleteRetentionPolicy
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteIngestionApiKey_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - retention-policies
    get:
      description: Retrieve a retention policy by its id
      operationId: getRetentionPolicy
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createRetentionPolicy_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - retention-policies
    put:
      description: Update a retention policy by its id
      operationId: updateRetentionPolicy
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              env: production
              teamId: abc-123-def
              dataSource: logs
              durationDays: 30-days
              isEnabled: true
            schema:
              $ref: "#/components/schemas/createRetentionPolicy_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createRetentionPolicy_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - retention-policies
  /v1/routes:
    get:
      description: Retrieve all routes
      operationId: listRoutes
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listRoutes_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - routes
    post:
      description: Create a new route
      operationId: createRoute
      requestBody:
        content:
          application/json:
            example:
              name: Enrich API Gateway Logs
              description: Adds service metadata and normalizes log format
              isEnabled: true
              query: service:api-gateway
              tags:
              - key: category
                value: enrichment
              owner: abc-123-def
              processors:
              - id: 789-abc-def
                type: parse-attribute
                tags: []
                params:
                  subtype: grok
                  attributeName: message
                  rules:
                  - "%{TIMESTAMP_ISO8601:timestamp} %{LOGLEVEL:level} %{GREEDYDATA:msg}"
            schema:
              $ref: "#/components/schemas/createRoute_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createRoute_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - routes
  /v1/routes/{id}:
    delete:
      description: Delete a route by its id
      operationId: deleteRoute
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteIngestionApiKey_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - routes
    get:
      description: Retrieve a route by its id
      operationId: getRoute
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createRoute_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - routes
    put:
      description: Update a route by its id
      operationId: updateRoute
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: Enrich API Gateway Logs
              description: Adds service metadata and normalizes log format
              isEnabled: true
              query: service:api-gateway
              tags:
              - key: category
                value: enrichment
              owner: abc-123-def
              processors:
              - id: 789-abc-def
                type: parse-attribute
                tags: []
                params:
                  subtype: grok
                  attributeName: message
                  rules:
                  - "%{TIMESTAMP_ISO8601:timestamp} %{LOGLEVEL:level} %{GREEDYDATA:msg}"
            schema:
              $ref: "#/components/schemas/createRoute_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createRoute_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - routes
  /v1/tag-policies:
    get:
      description: Retrieve all tag policies
      operationId: listTagPolicies
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listTagPolicies_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - tag-policies
    post:
      description: Create a new tag policy
      operationId: createTagPolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createTagPolicy_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createTagPolicy_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - tag-policies
  /v1/tag-policies/{id}:
    delete:
      description: Delete a tag policy by its id
      operationId: deleteTagPolicy
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteIngestionApiKey_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - tag-policies
    get:
      description: Retrieve a tag policy by its id
      operationId: getTagPolicy
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createTagPolicy_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - tag-policies
    put:
      description: Update a tag policy by its id
      operationId: updateTagPolicy
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createTagPolicy_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createTagPolicy_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - tag-policies
  /v1/teams:
    get:
      description: Retrieve all teams
      operationId: listTeams
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listTeams_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - teams
    post:
      description: Create a new team
      operationId: createTeam
      requestBody:
        content:
          application/json:
            example:
              name: Platform Engineering
              description: Responsible for internal developer tooling and infrastructure
              visibility: public
              tags:
              - key: department
                value: engineering
            schema:
              $ref: "#/components/schemas/createTeam_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createTeam_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - teams
  /v1/teams/{id}:
    delete:
      description: Delete a team by its id
      operationId: deleteTeam
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteIngestionApiKey_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - teams
    get:
      description: Retrieve a team by its id
      operationId: getTeam
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createTeam_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - teams
    put:
      description: Update a team by its id
      operationId: updateTeam
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: Platform Engineering
              description: Responsible for internal developer tooling and infrastructure
              visibility: public
              tags:
              - key: department
                value: engineering
            schema:
              $ref: "#/components/schemas/createTeam_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createTeam_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - teams
  /v1/team-memberships:
    delete:
      description: Remove a user from a team
      operationId: removeUserFromTeam
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/removeUserFromTeam_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteIngestionApiKey_200_response"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_4XX_response"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/aggregateScalar_5XX_response"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - team-memberships
    get:
      description: Get all team memberships
      operationId: getTeamMemberships
      parameters:
      - explode: true
        in: query
        name: userId
        required: false
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: form
      - explode: true
[...]
