openapi: 3.0.3
info:
  contact:
    name: Tsuga
    url: https://tsuga.com
  description: HTTP API used by Tsuga customers
  title: Tsuga Public API
  version: 1.0.0
servers:
- url: https://api.tsuga.com
security:
- bearerAuth: []
tags:
- description: Visualization of telemetry data with customizable graphs and filters
  name: dashboards
- description: API keys for ingesting telemetry data
  name: ingestion-api-keys
- description: Monitors for sending alerts based on telemetry data
  name: monitors
- description: Notification rules for alerts
  name: notification-rules
- description: Routes for processing log data
  name: routes
- description: Collection of users for managing ownership and access to resources
  name: teams
- description: Data retention rules for telemetry sources
  name: retention-policies
paths:
  /v1/ingestion-api-keys:
    get:
      description: Retrieve all ingestion API keys
      operationId: listIngestionApiKeys
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - ingestion-api-keys
    post:
      description: Create a new ingestion API key
      operationId: createIngestionApiKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createIngestionApiKey_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createIngestionApiKey_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - ingestion-api-keys
  /v1/ingestion-api-keys/{id}:
    delete:
      description: Delete an ingestion API key by its id
      operationId: deleteIngestionApiKey
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteIngestionApiKey_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - ingestion-api-keys
    put:
      description: Update an ingestion API key by its id
      operationId: updateIngestionApiKey
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createIngestionApiKey_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/updateIngestionApiKey_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - ingestion-api-keys
  /v1/dashboards:
    get:
      description: Retrieve all dashboards
      operationId: listDashboards
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listDashboards_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - dashboards
    post:
      description: Create a new dashboard
      operationId: createDashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createDashboard_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createDashboard_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - dashboards
  /v1/dashboards/{id}:
    delete:
      description: Delete a dashboard by its id
      operationId: deleteDashboard
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteIngestionApiKey_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - dashboards
    get:
      description: Retrieve a dashboard by its id
      operationId: getDashboard
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createDashboard_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - dashboards
    put:
      description: Update a dashboard by its id
      operationId: updateDashboard
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateDashboard_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createDashboard_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - dashboards
  /v1/monitors:
    get:
      description: Retrieve all monitors
      operationId: listMonitors
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listMonitors_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - monitors
    post:
      description: Create a new monitor
      operationId: createMonitor
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createMonitor_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createMonitor_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - monitors
  /v1/monitors/{id}:
    delete:
      description: Delete a monitor by its id
      operationId: deleteMonitor
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteIngestionApiKey_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - monitors
    get:
      description: Retrieve a monitor by its id
      operationId: getMonitor
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createMonitor_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - monitors
    put:
      description: Update a monitor by its id
      operationId: updateMonitor
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createMonitor_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createMonitor_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - monitors
  /v1/notification-rules:
    get:
      description: Retrieve all notification rules
      operationId: listNotificationRules
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listNotificationRules_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - notification-rules
    post:
      description: Create a new notification rule
      operationId: createNotificationRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createNotificationRule_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createNotificationRule_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - notification-rules
  /v1/notification-rules/{id}:
    delete:
      description: Delete a notification rule by its id
      operationId: deleteNotificationRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteIngestionApiKey_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - notification-rules
    get:
      description: Retrieve a notification rule by its id
      operationId: getNotificationRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createNotificationRule_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - notification-rules
    put:
      description: Update a notification rule by its id
      operationId: updateNotificationRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createNotificationRule_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createNotificationRule_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - notification-rules
  /v1/retention-policies:
    get:
      description: Retrieve all retention policies
      operationId: listRetentionPolicies
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listRetentionPolicies_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - retention-policies
    post:
      description: Create a new retention policy
      operationId: createRetentionPolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createRetentionPolicy_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createRetentionPolicy_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - retention-policies
  /v1/retention-policies/{id}:
    delete:
      description: Delete a retention policy by its id
      operationId: deleteRetentionPolicy
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteIngestionApiKey_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - retention-policies
    get:
      description: Retrieve a retention policy by its id
      operationId: getRetentionPolicy
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createRetentionPolicy_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - retention-policies
    put:
      description: Update a retention policy by its id
      operationId: updateRetentionPolicy
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createRetentionPolicy_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createRetentionPolicy_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - retention-policies
  /v1/routes:
    get:
      description: Retrieve all routes
      operationId: listRoutes
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listRoutes_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - routes
    post:
      description: Create a new route
      operationId: createRoute
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createRoute_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createRoute_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - routes
  /v1/routes/{id}:
    delete:
      description: Delete a route by its id
      operationId: deleteRoute
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteIngestionApiKey_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - routes
    get:
      description: Retrieve a route by its id
      operationId: getRoute
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createRoute_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - routes
    put:
      description: Update a route by its id
      operationId: updateRoute
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createRoute_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createRoute_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - routes
  /v1/teams:
    get:
      description: Retrieve all teams
      operationId: listTeams
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listTeams_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - teams
    post:
      description: Create a new team
      operationId: createTeam
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createTeam_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createTeam_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - teams
  /v1/teams/{id}:
    delete:
      description: Delete a team by its id
      operationId: deleteTeam
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteIngestionApiKey_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - teams
    get:
      description: Retrieve a team by its id
      operationId: getTeam
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createTeam_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - teams
    put:
      description: Update a team by its id
      operationId: updateTeam
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createTeam_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createTeam_200_response"
          description: Default Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listIngestionApiKeys_4XX_response"
          description: Default Response
      tags:
      - teams
components:
  schemas:
    ErrorResponse:
      description: Standard envelope for API errors
      example:
        code: ABORT_ERROR
        message: message
        statusCode: 0.8008281904610115
      properties:
        code:
          description: Machine readable error code describing what went wrong
          enum:
          - ABORT_ERROR
          - BAD_REQUEST
          - DUPLICATE_KEY_VIOLATION
          - FOREIGN_KEY_VIOLATION
          - FST_ERR_VALIDATION
          - INVALID_INPUT
          - INTERNAL_ERROR
          - INVALID_QUERY_TO_CLUSTER
          - NETWORK_ERROR
          - MISSING_PERMISSION
          - PRIVILEGE_ESCALATION
          - ORG_NOT_FOUND_AUTHENTICATION_ERROR
          - RATE_LIMITED
          - RESERVED_TAG_POLICY_ERROR
          - RESOURCE_NOT_FOUND
          - RESPONSE_PARSE_ERROR
          - TAG_POLICY_ALREADY_EXISTS_ERROR
          - TAG_POLICY_VALIDATION_ERROR
          - URL_NOT_FOUND
          type: string
        message:
          description: Human readable explanation of the error
          type: string
        statusCode:
          description: HTTP status code that was returned
          type: number
      required:
      - message
      - statusCode
      type: object
    IngestionApiKey:
      description: API key used to send telemetry data to Tsuga
      example:
        owner: owner
        keyLastCharacters: keyLastCharacters
        name: name
        id: id
        teamOverrideFields:
        - teamOverrideFields
        - teamOverrideFields
        tags:
        - value: value
          key: key
        - value: value
          key: key
        - value: value
          key: key
        - value: value
          key: key
        - value: value
          key: key
      properties:
        id:
          type: string
        name:
          type: string
        keyLastCharacters:
          type: string
        owner:
          type: string
        tags:
          description: List of key/value tags applied to the resource
          items:
            $ref: "#/components/schemas/Tag"
          maxItems: 50
          title: Tags
          type: array
        teamOverrideFields:
          items:
            type: string
          type: array
      required:
      - id
      - keyLastCharacters
      - name
      - owner
      type: object
    Dashboard:
      description: Visualization of telemetry data with customizable graphs and filters
      example:
        owner: owner
        graphs:
        - layout:
            w: 7.061401241503109
            x: 5.637376656633329
            h: 9.301444243932576
            "y": 2.3021358869347655
          visualization:
            visibleSeries:
            - true
            - true
            thresholds:
            - level: alert
              value: 5.962133916683182
            - level: alert
              value: 5.962133916683182
            normalizer:
              unit: ns
              type: duration
            legendMode: table
            precision: 1.4658129805029452
            formula: formula
            timeBucket:
              metric: sec
              time: 6.027456183070403
            source: logs
            groupBy:
            - limit: 0.8008281904610115
              fields:
              - fields
              - fields
            - limit: 0.8008281904610115
              fields:
              - fields
              - fields
            - limit: 0.8008281904610115
              fields:
              - fields
              - fields
            type: timeseries
            queries:
            - filter: filter
              functions:
              - type: per-second
              - type: per-second
              - type: per-second
              - type: per-second
              - type: per-second
              fill:
                mode:
                  type: zero
              aggregate:
                type: count
            - filter: filter
              functions:
              - type: per-second
              - type: per-second
              - type: per-second
              - type: per-second
              - type: per-second
              fill:
                mode:
                  type: zero
              aggregate:
                type: count
            - filter: filter
              functions:
              - type: per-second
              - type: per-second
              - type: per-second
              - type: per-second
              - type: per-second
              fill:
                mode:
                  type: zero
              aggregate:
                type: count
            - filter: filter
              functions:
              - type: per-second
              - type: per-second
              - type: per-second
              - type: per-second
              - type: per-second
              fill:
                mode:
                  type: zero
              aggregate:
                type: count
            - filter: filter
              functions:
              - type: per-second
              - type: per-second
              - type: per-second
              - type: per-second
              - type: per-second
              fill:
                mode:
                  type: zero
              aggregate:
                type: count
          name: name
          id: id
        - layout:
            w: 7.061401241503109
            x: 5.637376656633329
            h: 9.301444243932576
            "y": 2.3021358869347655
          visualization:
            visibleSeries:
            - true
            - true
            thresholds:
            - level: alert
              value: 5.962133916683182
            - level: alert
              value: 5.962133916683182
            normalizer:
              unit: ns
              type: duration
            legendMode: table
            precision: 1.4658129805029452
            formula: formula
            timeBucket:
              metric: sec
              time: 6.027456183070403
            source: logs
            groupBy:
            - limit: 0.8008281904610115
              fields:
              - fields
              - fields
            - limit: 0.8008281904610115
              fields:
              - fields
              - fields
            - limit: 0.8008281904610115
              fields:
              - fields
              - fields
            type: timeseries
            queries:
            - filter: filter
              functions:
              - type: per-second
              - type: per-second
              - type: per-second
              - type: per-second
              - type: per-second
              fill:
                mode:
                  type: zero
              aggregate:
                type: count
            - filter: filter
              functions:
              - type: per-second
              - type: per-second
              - type: per-second
              - type: per-second
              - type: per-second
              fill:
                mode:
                  type: zero
              aggregate:
                type: count
            - filter: filter
              functions:
              - type: per-second
              - type: per-second
              - type: per-second
              - type: per-second
              - type: per-second
              fill:
                mode:
                  type: zero
              aggregate:
                type: count
            - filter: filter
              functions:
              - type: per-second
              - type: per-second
              - type: per-second
              - type: per-second
              - type: per-second
              fill:
                mode:
                  type: zero
              aggregate:
                type: count
            - filter: filter
              functions:
              - type: per-second
              - type: per-second
              - type: per-second
              - type: per-second
              - type: per-second
              fill:
                mode:
                  type: zero
              aggregate:
                type: count
          name: name
          id: id
        timePreset: past-5-minutes
        name: name
        id: id
        filters:
        - filters
        - filters
        tags:
        - value: value
          key: key
        - value: value
          key: key
        - value: value
          key: key
        - value: value
          key: key
        - value: value
          key: key
      properties:
        id:
          description: Identifier of the dashboard
          type: string
        name:
          description: Display name of the dashboard
          type: string
        owner:
          description: Team ID that owns and manages the dashboard
          type: string
        graphs:
          description: Ordered widgets that compose the dashboard
          items:
            $ref: "#/components/schemas/Graph"
          type: array
        filters:
          description: Filters applied to every widget on the dashboard
          items:
            type: string
          type: array
        tags:
          description: List of key/value tags applied to the resource
          items:
            $ref: "#/components/schemas/Tag"
          maxItems: 50
          title: Tags
          type: array
        timePreset:
          enum:
          - past-5-minutes
          - past-15-minutes
          - past-30-minutes
          - past-1-hour
          - past-2-hours
          - past-4-hours
          - past-6-hours
          - past-12-hours
          - past-24-hours
          - past-2-days
          - past-3-days
          - past-7-days
          - past-30-days
          - past-3-months
          - current-day
          - current-week
          - current-month
          - current-year
          - previous-day
          - previous-week
          - previous-month
          - previous-3-months
          - previous-year
          type: string
      required:
      - graphs
      - id
      - name
      - owner
      type: object
    Monitor:
      description: Monitor allowing to send alerts based on telemetry data
      example:
        owner: owner
        configuration:
          timeframe: 6.027456183070403
          condition:
            formula: formula
            threshold: 0.8008281904610115
            operator: greater_than
          groupByFields:
          - limit: 0.8008281904610115
            fields:
            - fields
            - fields
          aggregationAlertLogic: no_aggregation
          type: metric
          proportionAlertThreshold: 15.364967208928864
          queries:
          - filter: filter
            functions:
            - type: per-second
            - type: per-second
            - type: per-second
            - type: per-second
            - type: per-second
            fill:
              mode:
                type: zero
            aggregate:
              type: count
          - filter: filter
            functions:
            - type: per-second
            - type: per-second
            - type: per-second
            - type: per-second
            - type: per-second
            fill:
              mode:
                type: zero
            aggregate:
              type: count
          - filter: filter
            functions:
            - type: per-second
            - type: per-second
            - type: per-second
            - type: per-second
            - type: per-second
            fill:
              mode:
                type: zero
            aggregate:
              type: count
          - filter: filter
            functions:
            - type: per-second
            - type: per-second
            - type: per-second
            - type: per-second
            - type: per-second
            fill:
              mode:
                type: zero
            aggregate:
              type: count
          - filter: filter
            functions:
            - type: per-second
            - type: per-second
            - type: per-second
            - type: per-second
            - type: per-second
            fill:
              mode:
                type: zero
            aggregate:
              type: count
          noDataBehavior: alert
        dashboardId: dashboardId
        permissions: all
        name: name
        id: id
        message: message
        priority: 5.962133916683182
        tags:
        - value: value
          key: key
        - value: value
          key: key
        - value: value
          key: key
        - value: value
          key: key
        - value: value
          key: key
      properties:
        id:
          description: Identifier of the monitor
          type: string
        name:
          description: Display name of the monitor
          type: string
        owner:
          description: Team ID that owns and manages the monitor
          type: string
        message:
          description: Message to be displayed if a notification is triggered
          type: string
        tags:
          description: List of key/value tags applied to the resource
          items:
            $ref: "#/components/schemas/Tag"
          maxItems: 50
          title: Tags
          type: array
        configuration:
          $ref: "#/components/schemas/createMonitor_request_configuration"
        priority:
          description: Priority of the monitor
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          type: number
        permissions:
          description: This controls which data the monitor can see
          enum:
          - all
          - owning-team-and-public
          - owning-team-only
          type: string
        dashboardId:
          description: Identifier of a dashboard related to the monitor
          type: string
      required:
      - configuration
      - id
      - name
      - owner
      - permissions
      - priority
      type: object
    Rule:
      description: Rules to trigger notifications to targets based on alert events
      example:
        owner: owner
        transitionTypesFilter:
        - triggered
        - triggered
        name: name
        prioritiesFilter:
        - 0.8008281904610115
        - 0.8008281904610115
        id: id
        isActive: true
        teamsFilter:
          teams:
          - teams
          - teams
          type: specific-teams
        targets:
        - rateLimit:
            minutes: 1
            maxMessages: 1
          renotifyConfig:
            mode: each
            renotifyIntervalMinutes: 1
            renotificationStates:
            - alert
            - alert
          id: id
          config:
            hideTransition: true
            integrationName: integrationName
            channel: channel
            integrationId: integrationId
            hideTime: true
            type: slack
        - rateLimit:
            minutes: 1
            maxMessages: 1
          renotifyConfig:
            mode: each
            renotifyIntervalMinutes: 1
            renotificationStates:
            - alert
            - alert
          id: id
          config:
            hideTransition: true
            integrationName: integrationName
            channel: channel
            integrationId: integrationId
            hideTime: true
            type: slack
        tags:
        - value: value
          key: key
        - value: value
          key: key
        - value: value
          key: key
        - value: value
          key: key
        - value: value
          key: key
      properties:
        id:
          description: Identifier of the notification rule
          type: string
        name:
          description: Display name of the notification rule
          type: string
        teamsFilter:
          $ref: "#/components/schemas/Rule_teamsFilter"
        prioritiesFilter:
          description: Priorities that narrow down the alerts that can trigger a notification
          items:
            enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            type: number
          type: array
        transitionTypesFilter:
          description: Alert state transitions that can trigger a notification
          items:
            enum:
            - triggered
            - resolved
            - no-data
            type: string
          type: array
        owner:
          description: Team ID that owns and manages the rule
          type: string
        isActive:
          type: boolean
        tags:
          description: List of key/value tags applied to the resource
          items:
            $ref: "#/components/schemas/Tag"
          maxItems: 50
          title: Tags
          type: array
        targets:
          description: Notification targets that can receive notifications when the
            rule matches
          items:
            $ref: "#/components/schemas/Rule_targets_inner"
          type: array
      required:
      - id
      - isActive
      - name
      - owner
      - prioritiesFilter
      - targets
      - teamsFilter
      - transitionTypesFilter
      type: object
    RetentionPolicy:
      description: Data retention rule for a data source within an environment
      example:
        durationDays: 1-day
        teamId: teamId
        isEnabled: true
        id: id
        env: env
        dataSource: logs
      properties:
        id:
          type: string
        env:
          type: string
        teamId:
          type: string
        dataSource:
          enum:
          - logs
          - metrics
          - traces
          type: string
        durationDays:
          enum:
          - 1-day
          - 3-days
          - 15-days
          - 30-days
          - 60-days
          - 90-days
          - 120-days
          - 180-days
          - 360-days
          - 10-years
          type: string
        isEnabled:
          type: boolean
      required:
      - dataSource
      - durationDays
      - id
      - isEnabled
      type: object
    Route:
      description: Log route allowing to standardize logs and enrich them with additional
        data
      example:
        owner: owner
        isEnabled: true
        query: query
        name: name
        description: description
        id: id
        processors:
        - description: description
          id: id
          type: mapper
          params:
            subtype: map-attributes
            attributes:
            - keepOrigin: true
              originAttribute: originAttribute
              targetAttribute: targetAttribute
              overrideTarget: true
            - keepOrigin: true
              originAttribute: originAttribute
              targetAttribute: targetAttribute
              overrideTarget: true
            - keepOrigin: true
              originAttribute: originAttribute
              targetAttribute: targetAttribute
              overrideTarget: true
            - keepOrigin: true
              originAttribute: originAttribute
              targetAttribute: targetAttribute
              overrideTarget: true
            - keepOrigin: true
              originAttribute: originAttribute
              targetAttribute: targetAttribute
              overrideTarget: true
          example:
            manual: true
          tags:
          - value: value
            key: key
          - value: value
            key: key
          - value: value
            key: key
          - value: value
            key: key
          - value: value
            key: key
          updatedAt: 2000-01-23T04:56:07.000+00:00
        - description: description
          id: id
          type: mapper
          params:
            subtype: map-attributes
            attributes:
            - keepOrigin: true
              originAttribute: originAttribute
              targetAttribute: targetAttribute
              overrideTarget: true
            - keepOrigin: true
              originAttribute: originAttribute
              targetAttribute: targetAttribute
              overrideTarget: true
            - keepOrigin: true
              originAttribute: originAttribute
              targetAttribute: targetAttribute
              overrideTarget: true
            - keepOrigin: true
              originAttribute: originAttribute
              targetAttribute: targetAttribute
              overrideTarget: true
            - keepOrigin: true
              originAttribute: originAttribute
              targetAttribute: targetAttribute
              overrideTarget: true
          example:
            manual: true
          tags:
          - value: value
            key: key
          - value: value
            key: key
          - value: value
            key: key
          - value: value
            key: key
          - value: value
            key: key
          updatedAt: 2000-01-23T04:56:07.000+00:00
        tags:
        - value: value
          key: key
        - value: value
          key: key
        - value: value
          key: key
        - value: value
          key: key
        - value: value
          key: key
      properties:
        id:
          description: Identifier of the log route
          type: string
        name:
          description: Human readable name shown for the route
          type: string
        description:
          type: string
        isEnabled:
          type: boolean
        query:
          description: Query that selects which logs should enter the route
          type: string
        tags:
          description: List of key/value tags applied to the resource
          items:
            $ref: "#/components/schemas/Tag"
          maxItems: 50
          title: Tags
          type: array
        owner:
          description: Team ID owning and managing the route
          type: string
        processors:
          description: Ordered processors applied to logs that match the route
          items:
            $ref: "#/components/schemas/Processor"
          type: array
      required:
      - id
      - isEnabled
      - name
      - owner
      - processors
      - query
      type: object
    Processor:
      anyOf:
      - $ref: "#/components/schemas/Processor_anyOf"
      - $ref: "#/components/schemas/Processor_anyOf_1"
      - $ref: "#/components/schemas/Processor_anyOf_2"
      - $ref: "#/components/schemas/Processor_anyOf_3"
    Team:
      description: Collection of users used to manage ownership and access to resources
      example:
        visibility: public
        name: name
        description: description
        id: id
        tags:
        - value: value
          key: key
        - value: value
          key: key
        - value: value
          key: key
        - value: value
          key: key
        - value: value
          key: key
      properties:
        id:
          description: Identifier of the team
          type: string
        name:
          description: Human readable team name displayed throughout the app
          type: string
        description:
          type: string
        visibility:
          description: Controls whether the resources of the team are discoverable
            by users
          enum:
          - public
          - private
          type: string
        tags:
          description: List of key/value tags applied to the resource
          items:
            $ref: "#/components/schemas/Tag"
          maxItems: 50
          title: Tags
          type: array
      required:
      - id
      - name
      - visibility
      type: object
    AggregateCount:
      example:
        type: count
      properties:
        type:
          description: Counts the total number of records
          enum:
          - count
          type: string
      required:
      - type
      title: Count
      type: object
    AggregateUniqueCount:
      properties:
        type:
          description: Counts the distinct values of the field
          enum:
          - unique-count
          type: string
        field:
          description: Attribute containing the values to aggregate
          maxLength: 250
          minLength: 0
          type: string
      required:
      - field
      - type
      title: UniqueCount
      type: object
    AggregateAverage:
      properties:
        type:
          description: Calculates the average value of the selected field
          enum:
          - average
          type: string
        field:
          description: Attribute containing the values to aggregate
          maxLength: 250
          minLength: 0
          type: string
      required:
      - field
      - type
      title: Average
      type: object
    AggregateMax:
      properties:
        type:
          description: Finds the largest value of the field
          enum:
          - max
          type: string
        field:
          description: Attribute containing the values to aggregate
          maxLength: 250
          minLength: 0
          type: string
      required:
      - field
      - type
      title: Max
      type: object
    AggregateMin:
      properties:
        type:
          description: Finds the smallest value of the field
          enum:
          - min
          type: string
        field:
          description: Attribute containing the values to aggregate
          maxLength: 250
          minLength: 0
          type: string
      required:
      - field
      - type
      title: Min
      type: object
    AggregateSum:
      properties:
        type:
          description: Sums the values of the selected field
          enum:
          - sum
          type: string
        field:
          description: Attribute containing the values to aggregate
          maxLength: 250
          minLength: 0
          type: string
      required:
      - field
      - type
      title: Sum
      type: object
    AggregatePercentile:
      properties:
        type:
          description: Calculates a percentile of the selected field
          enum:
          - percentile
          type: string
        field:
          description: Attribute containing the values to aggregate
          maxLength: 250
          minLength: 0
          type: string
        percentile:
          type: number
      required:
      - field
      - percentile
      - type
      title: Percentile
      type: object
    FunctionPerSecond:
      example:
        type: per-second
      properties:
        type:
          description: Normalizes the metric to events per second
          enum:
          - per-second
          type: string
      required:
      - type
      title: PerSecond
      type: object
    FunctionPerMinute:
      properties:
        type:
          description: Normalizes the metric to events per minute
          enum:
          - per-minute
          type: string
      required:
      - type
      title: PerMinute
      type: object
    FunctionPerHour:
      properties:
        type:
          description: Normalizes the metric to events per hour
          enum:
          - per-hour
          type: string
      required:
      - type
      title: PerHour
      type: object
    FunctionRate:
      properties:
        type:
          description: Calculates the rate of change
          enum:
          - rate
          type: string
      required:
      - type
      title: Rate
      type: object
    FunctionIncrease:
      properties:
        type:
          description: '`Increase` is designed for cumulative metrics. It computes
            the increase of cumulative metrics automatically handling counter resets.
            When used with an aggregation like `sum` it combines all series without
            requiring an explicit group-by.'
          enum:
          - increase
          type: string
      required:
      - type
      title: Increase
      type: object
    FunctionRolling:
      properties:
        type:
          description: Computes a rolling window aggregate
          enum:
          - rolling
          type: string
        window:
          description: Duration of the rolling window
          maxLength: 250
          minLength: 1
          type: string
      required:
      - type
      - window
      title: Rolling
      type: object
    FunctionLog:
      properties:
        type:
          description: Applies a logarithm transformation to the values
          enum:
          - log
          type: string
        base:
          description: The base of the logarithm
          minimum: 2
          multipleOf: 1
          type: number
      required:
      - base
      - type
      title: Log
      type: object
    FunctionPower:
      properties:
        type:
          description: Raises values to a specified power
          enum:
          - power
          type: string
        exponent:
          description: The exponent to raise values to
          multipleOf: 1
          type: number
      required:
      - exponent
      - type
      title: Power
      type: object
    FunctionSqrt:
      properties:
        type:
          description: Applies a square root transformation to the values
          enum:
          - sqrt
          type: string
      required:
      - type
      title: Sqrt
      type: object
    MonitorConfigurationMetric:
      example:
        timeframe: 6.027456183070403
        condition:
          formula: formula
          threshold: 0.8008281904610115
          operator: greater_than
        groupByFields:
        - limit: 0.8008281904610115
          fields:
          - fields
          - fields
        aggregationAlertLogic: no_aggregation
        type: metric
        proportionAlertThreshold: 15.364967208928864
        queries:
        - filter: filter
          functions:
          - type: per-second
          - type: per-second
          - type: per-second
          - type: per-second
          - type: per-second
          fill:
            mode:
              type: zero
          aggregate:
            type: count
        - filter: filter
          functions:
          - type: per-second
          - type: per-second
          - type: per-second
          - type: per-second
          - type: per-second
          fill:
            mode:
              type: zero
          aggregate:
            type: count
        - filter: filter
          functions:
          - type: per-second
          - type: per-second
          - type: per-second
          - type: per-second
          - type: per-second
          fill:
            mode:
              type: zero
          aggregate:
            type: count
        - filter: filter
          functions:
          - type: per-second
          - type: per-second
          - type: per-second
          - type: per-second
          - type: per-second
          fill:
            mode:
              type: zero
          aggregate:
            type: count
        - filter: filter
          functions:
          - type: per-second
          - type: per-second
          - type: per-second
          - type: per-second
          - type: per-second
          fill:
            mode:
              type: zero
          aggregate:
            type: count
        noDataBehavior: alert
      properties:
        type:
          enum:
          - metric
          type: string
        condition:
          $ref: "#/components/schemas/MonitorConfigurationMetric_condition"
        noDataBehavior:
          enum:
          - alert
          - resolve
          - keep_last_status
          - consider_zero
          type: string
        timeframe:
          description: Timeframe of the monitor in minutes
          type: number
        groupByFields:
          items:
            $ref: "#/components/schemas/AggregationGroupBy"
          maxItems: 1
          type: array
        aggregationAlertLogic:
          enum:
          - no_aggregation
          - all
          - any
          - each
          - proportion
          type: string
        proportionAlertThreshold:
          maximum: 99
          minimum: 1
          multipleOf: 1
          type: number
        queries:
          description: Aggregations that may be combined together in the same query
          items:
            $ref: "#/components/schemas/MonitorAggregationQuery"
          maxItems: 15
          type: array
      required:
      - condition
      - groupByFields
      - noDataBehavior
      - queries
      - timeframe
      - type
      type: object
    MonitorConfigurationLog:
      properties:
        type:
          enum:
          - log
          type: string
        condition:
          $ref: "#/components/schemas/MonitorConfigurationMetric_condition"
        noDataBehavior:
          enum:
          - alert
          - resolve
          - keep_last_status
          - consider_zero
          type: string
        timeframe:
          description: Timeframe of the monitor in minutes
          type: number
        groupByFields:
          items:
            $ref: "#/components/schemas/AggregationGroupBy"
          maxItems: 1
          type: array
        aggregationAlertLogic:
          enum:
          - no_aggregation
          - all
          - any
          - each
          - proportion
          type: string
        proportionAlertThreshold:
          maximum: 99
          minimum: 1
          multipleOf: 1
          type: number
        queries:
          description: Aggregations that may be combined together in the same query
          items:
            $ref: "#/components/schemas/MonitorAggregationQuery"
          maxItems: 15
          type: array
      required:
      - condition
      - groupByFields
      - noDataBehavior
      - queries
      - timeframe
      - type
      type: object
    MonitorConfigurationAnomalyLog:
      properties:
        type:
          enum:
          - anomaly-log
          type: string
        condition:
          $ref: "#/components/schemas/MonitorConfigurationAnomalyLog_condition"
        noDataBehavior:
          enum:
          - alert
          - resolve
          - keep_last_status
          type: string
        timeframe:
          description: Timeframe of the monitor in minutes
          type: number
        groupByFields:
          items:
            $ref: "#/components/schemas/AggregationGroupBy"
          maxItems: 1
          type: array
        aggregationAlertLogic:
          enum:
          - no_aggregation
          - all
          - any
          - each
          - proportion
          type: string
        proportionAlertThreshold:
          maximum: 99
          minimum: 1
          multipleOf: 1
          type: number
        queries:
          description: Aggregations that may be combined together in the same query
          items:
            $ref: "#/components/schemas/MonitorAggregationQuery"
          maxItems: 15
          type: array
      required:
      - condition
      - groupByFields
      - noDataBehavior
      - queries
      - timeframe
      - type
      type: object
    MonitorConfigurationAnomalyMetric:
      properties:
        type:
          enum:
          - anomaly-metric
          type: string
        condition:
          $ref: "#/components/schemas/MonitorConfigurationAnomalyLog_condition"
        noDataBehavior:
          enum:
          - alert
          - resolve
          - keep_last_status
          type: string
        timeframe:
          description: Timeframe of the monitor in minutes
          type: number
        groupByFields:
          items:
            $ref: "#/components/schemas/AggregationGroupBy"
          maxItems: 1
          type: array
        aggregationAlertLogic:
          enum:
          - no_aggregation
          - all
          - any
          - each
          - proportion
          type: string
        proportionAlertThreshold:
          maximum: 99
          minimum: 1
          multipleOf: 1
          type: number
        queries:
          description: Aggregations that may be combined together in the same query
          items:
            $ref: "#/components/schemas/MonitorAggregationQuery"
          maxItems: 15
          type: array
      required:
      - condition
      - groupByFields
      - noDataBehavior
      - queries
      - timeframe
      - type
      type: object
    MonitorConfigurationLogErrorPattern:
      properties:
        type:
          enum:
          - log-error-pattern
          type: string
        aggregationAlertLogic:
          enum:
          - each
          type: string
        noDataBehavior:
          enum:
          - keep_last_status
          type: string
        filter:
          $ref: "#/components/schemas/MonitorConfigurationLogErrorPattern_filter"
      required:
      - aggregationAlertLogic
      - filter
      - noDataBehavior
      - type
      type: object
    RuleTargetInputSlack:
      properties:
        type:
          enum:
          - slack
          type: string
        channel:
          description: Slack channel ID that receives the notification
          maxLength: 250
          minLength: 0
          type: string
        integrationId:
          description: Slack workspace ID that receives the notification
          maxLength: 250
          minLength: 0
          type: string
        hideTransition:
          description: "When true, the transition info (e.g., \"from ok to alert\"\
            ) is hidden from the Slack message"
          type: boolean
        hideTime:
          description: "When true, the timestamp is hidden from the Slack message"
          type: boolean
      required:
      - channel
      - integrationId
      - type
      type: object
    RuleTargetInputIncidentIo:
      properties:
        type:
          enum:
          - incident-io
          type: string
        integrationId:
          description: Identifier of the incident.io integration to use
          maxLength: 250
          minLength: 0
          type: string
      required:
      - integrationId
      - type
      type: object
    RuleTargetInputPagerDuty:
      properties:
        type:
          enum:
          - pagerduty
          type: string
        integrationId:
          description: Identifier of the PagerDuty integration to use
          maxLength: 250
          minLength: 0
          type: string
      required:
      - integrationId
      - type
      type: object
    RuleTargetInputEmail:
      properties:
        type:
          enum:
          - email
          type: string
        addresses:
          description: Email addresses that will receive the alert
          items:
            format: email
            maxLength: 254
            minLength: 0
            type: string
          maxItems: 20
          minItems: 1
          type: array
      required:
      - addresses
      - type
      type: object
    RuleTargetInputGrafanaIrm:
      properties:
        type:
          enum:
          - grafana-irm
          type: string
        integrationId:
          description: Identifier of the Grafana IRM integration to use
          maxLength: 250
          minLength: 0
          type: string
      required:
      - integrationId
      - type
      type: object
    RuleTargetInputMicrosoftTeams:
      properties:
        type:
          enum:
          - microsoft-teams
          type: string
        integrationId:
          description: Identifier of the Microsoft Teams integration to use
          maxLength: 250
          minLength: 0
          type: string
      required:
      - integrationId
      - type
      type: object
    RuleTargetInputWebhook:
      properties:
        type:
          enum:
          - webhook
          type: string
        integrationId:
          description: Identifier of the webhook integration to use
          maxLength: 250
          minLength: 0
          type: string
      required:
      - integrationId
      - type
      type: object
    RuleTargetInputServiceNow:
      properties:
        type:
          enum:
          - servicenow
          type: string
        integrationId:
          description: Identifier of the ServiceNow integration to use
          maxLength: 250
          minLength: 0
          type: string
      required:
      - integrationId
      - type
      type: object
    RuleTargetInputGoogleChat:
      properties:
        type:
          enum:
          - google-chat
          type: string
        integrationId:
          description: Identifier of the Google Chat integration to use
          maxLength: 250
          minLength: 0
          type: string
        hideTransition:
          description: "When true, the transition info (e.g., \"from ok to alert\"\
            ) is hidden from the Google Chat message"
          type: boolean
        hideTime:
          description: "When true, the timestamp is hidden from the Google Chat message"
          type: boolean
      required:
      - integrationId
      - type
      type: object
    RuleTargetConfigSlack:
      example:
        hideTransition: true
        integrationName: integrationName
        channel: channel
        integrationId: integrationId
        hideTime: true
        type: slack
      properties:
        type:
          enum:
          - slack
          type: string
        channel:
          description: Slack channel ID that receives the notification
          type: string
        integrationId:
          description: Slack workspace ID that receives the notification
          type: string
        integrationName:
          description: Human readable name of the Slack integration
          type: string
        hideTransition:
          description: "When true, the transition info (e.g., \"from ok to alert\"\
            ) is hidden from the Slack message"
          type: boolean
        hideTime:
          description: "When true, the timestamp is hidden from the Slack message"
          type: boolean
      required:
      - channel
      - integrationId
      - integrationName
      - type
      type: object
    RuleTargetConfigIncidentIo:
      properties:
        type:
          enum:
          - incident-io
          type: string
        integrationId:
          description: Identifier of the incident.io integration to use
          type: string
        integrationName:
          description: Human readable name of the incident.io integration
          type: string
      required:
      - integrationId
      - integrationName
      - type
      type: object
    RuleTargetConfigEmail:
      properties:
        type:
          enum:
          - email
          type: string
        addresses:
          description: Email addresses that will receive the alert
          items:
            format: email
            type: string
          type: array
      required:
      - addresses
      - type
      type: object
    RuleTargetConfigGrafanaIrm:
      properties:
        type:
          enum:
          - grafana-irm
          type: string
        integrationId:
          description: Identifier of the Grafana IRM integration to use
          type: string
        integrationName:
          description: Human readable name of the Grafana IRM integration
          type: string
      required:
      - integrationId
      - integrationName
      - type
      type: object
    RuleTargetConfigPagerDuty:
      properties:
        type:
          enum:
          - pagerduty
          type: string
        integrationId:
          description: Identifier of the PagerDuty integration to use
          type: string
        integrationName:
          description: Human readable name of the PagerDuty integration
          type: string
      required:
      - integrationId
      - integrationName
      - type
      type: object
    RuleTargetConfigMicrosoftTeams:
      properties:
        type:
          enum:
          - microsoft-teams
          type: string
        integrationId:
          description: Identifier of the Microsoft Teams integration to use
          type: string
        integrationName:
          description: Human readable name of the Microsoft Teams integration
          type: string
      required:
      - integrationId
      - integrationName
      - type
      type: object
    RuleTargetConfigWebhook:
      properties:
        type:
          enum:
          - webhook
          type: string
        integrationId:
          description: Identifier of the webhook integration to use
          type: string
        integrationName:
          description: Human readable name of the webhook integration
          type: string
      required:
      - integrationId
      - integrationName
      - type
      type: object
    RuleTargetConfigServiceNow:
      properties:
        type:
          enum:
          - servicenow
          type: string
        integrationId:
          description: Identifier of the ServiceNow integration to use
          type: string
        integrationName:
          description: Human readable name of the ServiceNow integration
          type: string
      required:
      - integrationId
      - integrationName
      - type
      type: object
    RuleTargetConfigGoogleChat:
      properties:
        type:
          enum:
          - google-chat
          type: string
        integrationId:
          description: Identifier of the Google Chat integration to use
          type: string
        integrationName:
          description: Human readable name of the Google Chat integration
          type: string
        hideTransition:
          description: "When true, the transition info (e.g., \"from ok to alert\"\
            ) is hidden from the Google Chat message"
          type: boolean
        hideTime:
          description: "When true, the timestamp is hidden from the Google Chat message"
          type: boolean
      required:
      - integrationId
      - integrationName
      - type
      type: object
    ProcessorParamsCreatorFormatString:
      properties:
        targetAttribute:
          description: Attribute that will receive the formatted value
          maxLength: 250
          minLength: 0
          type: string
        formatString:
          description: Template string used to build the target attribute value
          maxLength: 50000
          minLength: 0
          type: string
        overrideTarget:
          description: Set to true to overwrite an existing target attribute value
            (defaults to true)
          type: boolean
        subtype:
          enum:
          - format-string
          type: string
        replaceMissingByEmpty:
          type: boolean
      required:
      - formatString
      - subtype
      - targetAttribute
      type: object
    ProcessorParamsCreatorMathFormula:
      properties:
        targetAttribute:
          description: Attribute that will receive the computed value
          maxLength: 250
          minLength: 0
          type: string
        formula:
          description: Mathematical formula evaluated to populate the target attribute
          maxLength: 50000
          minLength: 0
          type: string
        overrideTarget:
          description: Set to true to overwrite an existing target attribute value
            (defaults to true)
          type: boolean
        subtype:
          enum:
          - math-formula
          type: string
        replaceMissingBy0:
          type: boolean
      required:
      - formula
      - subtype
      - targetAttribute
      type: object
    ProcessorParamsMapperMapAttributes:
      example:
        subtype: map-attributes
        attributes:
        - keepOrigin: true
          originAttribute: originAttribute
          targetAttribute: targetAttribute
          overrideTarget: true
        - keepOrigin: true
          originAttribute: originAttribute
          targetAttribute: targetAttribute
          overrideTarget: true
        - keepOrigin: true
          originAttribute: originAttribute
          targetAttribute: targetAttribute
          overrideTarget: true
        - keepOrigin: true
          originAttribute: originAttribute
          targetAttribute: targetAttribute
          overrideTarget: true
        - keepOrigin: true
          originAttribute: originAttribute
          targetAttribute: targetAttribute
          overrideTarget: true
      properties:
        attributes:
          description: Mappings that map individual attributes to new targets
          items:
            $ref: "#/components/schemas/ProcessorParamsMapperMapAttributes_attributes_inner"
          maxItems: 50
          type: array
        subtype:
          enum:
          - map-attributes
          type: string
      required:
      - attributes
      - subtype
      type: object
    ProcessorParamsMapperMapLevel:
      properties:
        attributeName:
          description: Attribute whose value will determine the log level
          maxLength: 250
          minLength: 0
          type: string
        subtype:
          enum:
          - map-level
          type: string
      required:
      - attributeName
      - subtype
      type: object
    ProcessorParamsMapperMapTimestamp:
      properties:
        attributeName:
          description: Attribute whose value will determine the log timestamp
          maxLength: 250
          minLength: 0
          type: string
        subtype:
          enum:
          - map-timestamp
          type: string
      required:
      - attributeName
      - subtype
      type: object
    DataNormalizerDuration:
      example:
        unit: ns
        type: duration
      properties:
        type:
          description: Normalizes values as durations using standard time units
          enum:
          - duration
          type: string
        unit:
          description: Time unit used to present the normalized values
          enum:
          - ns
          - us
          - ms
          - s
          - m
          - h
          - days
          type: string
      required:
      - type
      - unit
      title: Duration
      type: object
    DataNormalizerData:
      properties:
        type:
          description: Normalizes values as data sizes using byte units
          enum:
          - data
          type: string
        unit:
          description: Data size unit used to present the normalized values
          enum:
          - B
          - KB
          - MB
          - GB
          - TB
          - PB
          type: string
      required:
      - type
      - unit
      title: Data
      type: object
    DataNormalizerPercent:
      properties:
        type:
          description: Format values as percentages
          enum:
          - percent
          type: string
      required:
      - type
      title: Percent
      type: object
    DataNormalizerDate:
      properties:
        type:
          description: Formats values as calendar dates
          enum:
          - date
          type: string
      required:
      - type
      title: Date
      type: object
    DataNormalizerLevel:
      properties:
        type:
          description: Displays values using their log level name
          enum:
          - level
          type: string
      required:
      - type
      title: Level
      type: object
    DataNormalizerCustom:
      properties:
        type:
          description: Normalizes values using a custom unit label
          enum:
          - custom
          type: string
        unit:
          description: Text label describing the custom unit
          type: string
      required:
      - type
      - unit
      title: Custom
      type: object
    GraphVisualizationTimeseries:
      example:
        visibleSeries:
        - true
        - true
        thresholds:
        - level: alert
          value: 5.962133916683182
        - level: alert
          value: 5.962133916683182
        normalizer:
          unit: ns
          type: duration
        legendMode: table
        precision: 1.4658129805029452
        formula: formula
        timeBucket:
          metric: sec
          time: 6.027456183070403
        source: logs
        groupBy:
        - limit: 0.8008281904610115
          fields:
          - fields
          - fields
        - limit: 0.8008281904610115
          fields:
          - fields
          - fields
        - limit: 0.8008281904610115
          fields:
          - fields
          - fields
        type: timeseries
        queries:
        - filter: filter
          functions:
          - type: per-second
          - type: per-second
          - type: per-second
          - type: per-second
          - type: per-second
          fill:
            mode:
              type: zero
          aggregate:
            type: count
        - filter: filter
          functions:
          - type: per-second
          - type: per-second
          - type: per-second
          - type: per-second
          - type: per-second
          fill:
            mode:
              type: zero
          aggregate:
            type: count
        - filter: filter
          functions:
          - type: per-second
          - type: per-second
          - type: per-second
          - type: per-second
          - type: per-second
          fill:
            mode:
              type: zero
          aggregate:
            type: count
        - filter: filter
          functions:
          - type: per-second
          - type: per-second
          - type: per-second
          - type: per-second
          - type: per-second
          fill:
            mode:
              type: zero
          aggregate:
            type: count
        - filter: filter
          functions:
          - type: per-second
          - type: per-second
          - type: per-second
          - type: per-second
          - type: per-second
          fill:
            mode:
              type: zero
          aggregate:
            type: count
      properties:
        type:
          description: Displays the aggregation as a time series chart
          enum:
          - timeseries
          type: string
        source:
          description: Data source being queried for this aggregation
          enum:
          - logs
          - metrics
          - traces
          type: string
        queries:
          description: Aggregations that may be combined together in the same query
          items:
            $ref: "#/components/schemas/AggregationQuery"
          maxItems: 15
          type: array
        formula:
          description: Formula referencing query outputs (e.g. q1+q2) to compute derived
            series
          maxLength: 250
          minLength: 0
          type: string
        visibleSeries:
          description: Flags indicating whether each query or formula series is visible
          items:
            type: boolean
          type: array
        groupBy:
          description: Fields used to group the results
          items:
            $ref: "#/components/schemas/AggregationGroupBy"
          maxItems: 3
          type: array
        timeBucket:
          $ref: "#/components/schemas/GraphVisualizationTimeseries_timeBucket"
        normalizer:
          $ref: "#/components/schemas/Normalizer"
        precision:
          description: Number of decimal places to display in the value
          type: number
        legendMode:
          description: "Controls whether and how the widget displays legend or series\
            \ details (e.g. table, legend-only, or no legend)"
          enum:
          - table
          - legend-only
          - no-legend
          type: string
        thresholds:
          description: Threshold markers displayed on the chart
          items:
            $ref: "#/components/schemas/ThresholdMarker"
          type: array
      required:
      - queries
      - source
      - type
      title: Timeseries
      type: object
    GraphVisualizationTopList:
      properties:
        type:
          description: Displays the aggregation as a ranked list of top results
          enum:
          - top-list
          type: string
        source:
          description: Data source being queried for this aggregation
          enum:
          - logs
          - metrics
          - traces
          type: string
        queries:
          description: Aggregations that may be combined together in the same query
          items:
            $ref: "#/components/schemas/AggregationQuery"
          maxItems: 15
          type: array
        formula:
          description: Formula referencing query outputs (e.g. q1+q2) to compute derived
            series
          maxLength: 250
          minLength: 0
          type: string
        visibleSeries:
          description: Flags indicating whether each query or formula series is visible
          items:
            type: boolean
          type: array
        groupBy:
          description: Fields used to group the results
          items:
            $ref: "#/components/schemas/AggregationGroupBy"
          maxItems: 3
          type: array
        normalizer:
          $ref: "#/components/schemas/Normalizer"
        precision:
          description: Number of decimal places to display in the value
          type: number
      required:
      - queries
      - source
      - type
      title: TopList
      type: object
    GraphVisualizationPie:
      properties:
        type:
          description: Displays the aggregation as a pie chart
          enum:
          - pie
          type: string
        source:
          description: Data source being queried for this aggregation
          enum:
          - logs
          - metrics
          - traces
          type: string
        queries:
          description: Aggregations that may be combined together in the same query
          items:
            $ref: "#/components/schemas/AggregationQuery"
          maxItems: 15
          type: array
        formula:
          description: Formula referencing query outputs (e.g. q1+q2) to compute derived
            series
          maxLength: 250
          minLength: 0
          type: string
        visibleSeries:
          description: Flags indicating whether each query or formula series is visible
          items:
            type: boolean
          type: array
        groupBy:
          description: Fields used to group the results
          items:
            $ref: "#/components/schemas/AggregationGroupBy"
          maxItems: 3
          type: array
        normalizer:
          $ref: "#/components/schemas/Normalizer"
        precision:
          description: Number of decimal places to display in the value
          type: number
        legendMode:
          description: "Controls whether and how the widget displays legend or series\
            \ details (e.g. table, legend-only, or no legend)"
          enum:
          - table
          - legend-only
          - no-legend
          type: string
      required:
      - queries
      - source
      - type
      title: Pie
      type: object
    GraphVisualizationQueryValue:
      properties:
        type:
          description: Displays the aggregation as a single value
          enum:
          - query-value
          type: string
        source:
          description: Data source being queried for this aggregation
          enum:
          - logs
          - metrics
          - traces
          type: string
        queries:
          description: Aggregations that may be combined together in the same query
          items:
            $ref: "#/components/schemas/AggregationQuery"
          maxItems: 15
          type: array
        formula:
          description: Formula referencing query outputs (e.g. q1+q2) to compute derived
            series
          maxLength: 250
          minLength: 0
          type: string
        visibleSeries:
          description: Flags indicating whether each query or formula series is visible
          items:
            type: boolean
          type: array
        backgroundMode:
          description: Controls whether the widget uses a solid or transparent background
          enum:
          - background
          - no-background
          type: string
        conditions:
          description: Conditional formatting rules applied to the displayed value
          items:
            $ref: "#/components/schemas/ConditionalFormatting"
          type: array
        precision:
          description: Number of decimal places to display in the value
          type: number
        normalizer:
          $ref: "#/components/schemas/Normalizer"
        legendMode:
          description: "Controls whether and how the widget displays legend or series\
            \ details (e.g. table, legend-only, or no legend)"
          enum:
          - table
          - legend-only
          - no-legend
          type: string
      required:
      - queries
      - source
      - type
      title: QueryValue
      type: object
    GraphVisualizationBar:
      properties:
        type:
          description: Displays the aggregation as a bar chart
          enum:
          - bar
          type: string
        source:
          description: Data source being queried for this aggregation
          enum:
          - logs
          - metrics
          - traces
          type: string
        queries:
          description: Aggregations that may be combined together in the same query
          items:
            $ref: "#/components/schemas/AggregationQuery"
          maxItems: 15
          type: array
        formula:
          description: Formula referencing query outputs (e.g. q1+q2) to compute derived
            series
          maxLength: 250
          minLength: 0
          type: string
        visibleSeries:
          description: Flags indicating whether each query or formula series is visible
          items:
            type: boolean
          type: array
        groupBy:
          description: Fields used to group the results
          items:
            $ref: "#/components/schemas/AggregationGroupBy"
          maxItems: 3
          type: array
        timeBucket:
          $ref: "#/components/schemas/GraphVisualizationTimeseries_timeBucket"
        precision:
          description: Number of decimal places to display in the value
          type: number
        normalizer:
          $ref: "#/components/schemas/Normalizer"
        thresholds:
          description: Threshold markers displayed on the chart
          items:
            $ref: "#/components/schemas/ThresholdMarker"
          type: array
        legendMode:
          description: "Controls whether and how the widget displays legend or series\
            \ details (e.g. table, legend-only, or no legend)"
          enum:
          - table
          - legend-only
          - no-legend
          type: string
      required:
      - queries
      - source
      - type
      title: Bar
      type: object
    GraphVisualizationList:
      properties:
        type:
          description: Displays matching logs in a tabular list
          enum:
          - list
          type: string
        source:
          description: Indicates that the widget queries logs
          enum:
          - logs
          type: string
        query:
          description: Log query that selects records for the list
          format: tsuga-query
          maxLength: 10000
          minLength: 0
          type: string
        listColumns:
          description: Custom columns to display for each log entry
          items:
            $ref: "#/components/schemas/WidgetListColumn"
          type: array
      required:
      - query
      - source
      - type
      title: List
      type: object
    GraphVisualizationNote:
      properties:
        type:
          description: Displays static text on the dashboard
          enum:
          - note
          type: string
        note:
          description: Markdown-compatible text shown in the note
          maxLength: 50000
          minLength: 0
          type: string
        noteColor:
          description: Background color used to render the note
          enum:
          - white
          - gray.100
          - amber.200
          - lime.200
          - emerald.200
          - cyan.200
          - blue.200
          - violet.200
          - fuchsia.200
          - pink.200
          - red.200
          type: string
        noteAlign:
          description: Flex alignment keyword used for widget layout
          enum:
          - flex-start
          - center
          - flex-end
          type: string
        noteJustifyContent:
          description: Flex alignment keyword used for widget layout
          enum:
          - flex-start
          - center
          - flex-end
          type: string
      required:
      - type
      title: Note
      type: object
    BigQueryConnectionInput:
      properties:
        type:
          enum:
          - big-query
          type: string
        auth:
          $ref: "#/components/schemas/BigQueryConnectionInput_auth"
      required:
      - auth
      - type
      type: object
    BigQueryWifDirectAccessAuthInput:
      properties:
        type:
          enum:
          - workload-identity-direct-access
          type: string
        projectId:
          maxLength: 250
          minLength: 0
          type: string
        workloadIdentityCredentialFile:
          maxLength: 50000
          minLength: 0
          type: string
      required:
      - projectId
      - type
      - workloadIdentityCredentialFile
      type: object
    PostgresConnectionInput:
      properties:
        type:
          enum:
          - postgres
          type: string
        user:
          maxLength: 250
          minLength: 0
          type: string
        password:
          maxLength: 250
          minLength: 0
          type: string
        host:
          maxLength: 250
          minLength: 0
          type: string
        port:
          maximum: 65535
          minimum: 1
          multipleOf: 1
          type: number
        dbName:
          maxLength: 250
          minLength: 0
          type: string
        sslRequire:
          default: true
          type: boolean
      required:
      - dbName
      - host
      - password
      - port
      - sslRequire
      - type
      - user
      type: object
    MySqlConnectionInput:
      properties:
        type:
          enum:
          - my-sql
          type: string
[...]
