openapi: 3.1.0
info:
  contact:
    name: Tsuga
    url: https://tsuga.com
  description: "Public HTTP API for Tsuga customers and customer-operated tools. Use\
    \ these endpoints to query observability data, manage customer-owned Tsuga resources,\
    \ and retrieve documentation or API-reference content. Public API requests authenticate\
    \ with Bearer tokens such as operation keys. See [API reference](/documentation/api)."
  title: Tsuga Public API
  version: 1.0.0
servers:
- url: https://api.tsuga.com
security:
- bearerAuth: []
tags:
- description: "Operations for aggregating logs, metrics, and traces. Use these endpoints\
    \ to compute scalar and timeseries results for analytics workflows. See [Analytics\
    \ queries](/documentation/visualize/analytics/queries)."
  name: aggregation
- description: "Operations for listing Tsuga clusters that hold observability data.\
    \ Use these endpoints to choose cluster scope for telemetry queries. See [Clusters](/documentation/account-and-settings/clusters)."
  name: clusters
- description: "Operations for custom telemetry tag keys tracked as usage dimensions.\
    \ Use these endpoints to configure which tags appear in usage analysis. See [Usage\
    \ overview](/documentation/account-and-settings/usage-overview)."
  name: custom-usage-tags
- description: "Operations for saved dashboards and dashboard graphs. Use these endpoints\
    \ to inventory, create, update, and delete reusable visualization definitions.\
    \ See [Dashboards](/documentation/visualize/dashboards/index)."
  name: dashboards
- description: "Operations for retrieving and searching Tsuga documentation and API-reference\
    \ content. Use these endpoints to power in-product help and documentation search.\
    \ See [Documentation](/documentation)."
  name: docs
- description: Operations for submitting feedback about Tsuga tools and APIs for Tsuga
    review.
  name: feedback
- description: "Operations for telemetry ingestion keys. Use these endpoints to create,\
    \ inspect, update, and delete keys used by collectors and direct telemetry senders.\
    \ See [API keys](/documentation/account-and-settings/api-keys)."
  name: ingestion-api-keys
- description: "Operations for cloud inventory resources. Use these endpoints to list\
    \ resources discovered from connected cloud accounts. See [Cloud resources](/documentation/categorize/cloud-resources)."
  name: inventory
- description: "Operations for organization invitations. Use these endpoints to invite\
    \ users and inspect invitation lifecycle state. See [How to invite members](/documentation/account-and-settings/guides/how-to-invite-members)."
  name: invitations
- description: "Operations for exploring Kubernetes workloads observed from telemetry:\
    \ pods, clusters, namespaces, deployments, StatefulSets, and DaemonSets, plus\
    \ pod and deployment details. Use these endpoints to inspect current workload\
    \ state and resource usage."
  name: kubernetes-explorer
- description: "Operations for searching log events, inspecting log attributes, and\
    \ analyzing recurring log patterns. See [Logs](/documentation/explore/logs)."
  name: logs
- description: "Operations for discovering metric names, retrieving metric metadata,\
    \ and querying metric data across telemetry sources. See [Metrics](/documentation/explore/metrics/index)."
  name: metrics
- description: "Operations for saved monitor definitions. Use these endpoints to create,\
    \ inspect, update, and delete alert evaluation rules, not notification delivery.\
    \ See [Monitors](/documentation/alert/monitors/index)."
  name: monitors
- description: "Operations for notification routing rules. Use these endpoints to\
    \ match alert transitions and send notifications to configured targets. See [Rules](/documentation/alert/notifications/rules)."
  name: notification-rules
- description: "Operations for notification silences. Use these endpoints to suppress\
    \ matching notification delivery during one-time or recurring windows. See [Silences](/documentation/alert/notifications/silences)."
  name: notification-silences
- description: "Operations for organization-level settings. Use these endpoints to\
    \ inspect or update account-wide configuration such as allowed email domains.\
    \ See [Domains and email login](/documentation/account-and-settings/authentication/domains-and-email-login)."
  name: organization
- description: Operations for PromQL metric queries. Use these endpoints when a client
    needs PromQL query syntax against Tsuga metric data.
  name: promql
- description: "Operations for telemetry quality report rows. Use these endpoints\
    \ to inspect rule outcomes and recommendations for teams or clusters. See [Quality\
    \ reports](/documentation/account-and-settings/quality-reports)."
  name: quality-reports
- description: Folders for organizing dashboards into a two-level hierarchy.
  name: dashboard-folders
- description: "Operations for retention policy rows for logs, metrics, and traces.\
    \ Use these endpoints to inspect or manage signal retention by scope. See [Retention](/documentation/account-and-settings/retention)."
  name: retention-policies
- description: "Operations for log routes and route processors. Use these endpoints\
    \ to manage ingest-time log processing definitions. See [Routes](/documentation/process/routes/index)."
  name: routes
- description: "Operations for services inferred from telemetry. Use these endpoints\
    \ to inspect service metadata, activity, and dependency graphs. See [Services](/documentation/categorize/services/index)."
  name: services
- description: "Operations for tag policies applied to Tsuga-managed assets or telemetry\
    \ data. Use these endpoints to configure required tags and allowed values. See\
    \ [Tag policies](/documentation/account-and-settings/tag-policies)."
  name: tag-policies
- description: "Operations for creating and managing teams used for ownership, collaboration,\
    \ and access control. See [Teams](/documentation/account-and-settings/teams)."
  name: teams
- description: "Operations for team membership assignments. Use these endpoints to\
    \ add, remove, and update users' roles in teams. See [Members](/documentation/account-and-settings/members)."
  name: team-memberships
- description: "Operations for searching distributed traces and inspecting trace spans\
    \ across services. See [Traces](/documentation/explore/traces)."
  name: traces
- description: "Operations for organization users. Use these endpoints to list users\
    \ and resolve user IDs, roles, and display metadata. See [Members](/documentation/account-and-settings/members)."
  name: users
paths:
  /v1/dashboards/query:
    post:
      description: "Queries dashboards visible to the authenticated operation key.\
        \ Use this endpoint to build dashboard inventories or synchronize dashboard\
        \ metadata. Pagination fields limit the returned page; use the response metadata\
        \ to request additional pages. See [Dashboards](/documentation/visualize/dashboards/index)."
      operationId: queryDashboards
      requestBody:
        content:
          application/json:
            example:
              filters:
                owners:
                  values:
                  - team-123-abc
                searchQuery:
                  value: API
                tags:
                  values:
                  - key: service
                    value: api-gateway
              sort:
                by: name
                direction: asc
              limit: 10
              offset: 0
            schema:
              $ref: "#/components/schemas/queryDashboards_request"
        description: "Dashboard query request. Use filters, sorting, limit, and offset\
          \ to page through visible dashboards."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryDashboardsResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - dashboards
  /v1/dashboards/{id}:
    delete:
      description: Deletes a dashboard by ID. Use only after confirming no users or
        automation still rely on the dashboard.
      operationId: deleteDashboard
      parameters:
      - description: "Identifier of the saved dashboard to delete. Use the `id` returned\
          \ by dashboard query, get, create, or update responses."
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteDashboardResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - dashboards
    get:
      description: Retrieves one dashboard by ID when the authenticated operation
        key can read it. Use this before updating or cloning a dashboard definition.
      operationId: getDashboard
      parameters:
      - description: "Identifier of the saved dashboard to retrieve. Use the `id`\
          \ returned by dashboard query, create, or update responses."
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetDashboardResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - dashboards
    put:
      description: Updates an existing dashboard by ID. Fields are patched from the
        request body; omitted fields keep their current values.
      operationId: updateDashboard
      parameters:
      - description: "Identifier of the saved dashboard to update. Use the `id` returned\
          \ by dashboard query, get, or create responses."
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateDashboard_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateDashboardResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - dashboards
  /v1/dashboards:
    post:
      description: Creates a dashboard owned by the specified team. Use this to provision
        dashboards from automation or templates. The response returns the saved dashboard
        definition.
      operationId: createDashboard
      requestBody:
        content:
          application/json:
            example:
              name: API Performance Overview
              owner: team-123-abc
              graphs:
              - id: 789-abc-def
                name: Request Latency P99
                visualization:
                  type: timeseries
                  source: metrics
                  queries:
                  - aggregate:
                      type: percentile
                      field: duration
                      percentile: 99
                    filter: service:api-gateway
                layout:
                  x: 0
                  "y": 0
                  w: 6
                  h: 4
              filters:
              - key: env
                values:
                - production
              tags:
              - key: team
                value: platform
              timePreset: past-1-hour
              folderId: null
            schema:
              $ref: "#/components/schemas/createDashboard_request"
        description: "Dashboard create or update request. Provide the dashboard identity,\
          \ owner team, widgets, filters, tags, and optional time preset."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateDashboardResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - dashboards
  /v1/dashboards/{id}/graphs/{graphId}:
    put:
      description: Updates one graph inside a dashboard without replacing the full
        dashboard. Use this for targeted widget edits when you already know the dashboard
        ID and graph ID.
      operationId: updateDashboardGraph
      parameters:
      - description: Identifier of the dashboard that contains the graph to update.
          Use the `id` returned by dashboard responses.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          nullable: true
          type: string
        style: simple
      - description: Identifier of the graph to update within the dashboard. Use graph
          IDs from the dashboard response.
        explode: false
        in: path
        name: graphId
        required: true
        schema:
          maxLength: 250
          minLength: 1
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateDashboardGraph_request"
        description: Dashboard graph update request. The graph identifier is supplied
          in the `graphId` path parameter; provide the replacement graph definition
          without an `id` field.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateDashboardGraphResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - dashboards
  /v1/monitors/query:
    post:
      description: "Queries monitors visible to the authenticated operation key. Use\
        \ this endpoint to inventory monitor definitions, filter by owner, tag, priority,\
        \ type, activity, or cluster, and page through results. See [Monitors](/documentation/alert/monitors/index)."
      operationId: queryMonitors
      requestBody:
        content:
          application/json:
            example:
              filters:
                owners:
                  values:
                  - team-123-abc
                searchQuery:
                  value: service:api-gateway
                tags:
                  values:
                  - key: paging
                    value: "true"
                priorities:
                  values:
                  - 4
                  - 5
                  exclude: true
              sort:
                by: name
                direction: asc
              limit: 10
              offset: 0
            schema:
              $ref: "#/components/schemas/queryMonitors_request"
        description: "Monitor query request. Use filters, sorting, limit, and offset\
          \ to page through visible monitors."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryMonitorsResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - monitors
  /v1/monitors/{id}:
    delete:
      description: Deletes a monitor by ID. Deleting a monitor stops future evaluations
        and alert transitions for that monitor.
      operationId: deleteMonitor
      parameters:
      - description: "Identifier of the saved monitor to delete. Use the `id` returned\
          \ by monitor query, create, or update responses."
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteMonitorResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - monitors
    get:
      description: "Retrieves one monitor definition by ID when the authenticated\
        \ operation key can read it. Use this before updating, duplicating, or auditing\
        \ a monitor."
      operationId: getMonitor
      parameters:
      - description: "Monitor ID returned by monitor query, create, or update operations."
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMonitorResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - monitors
    put:
      description: "Updates an existing monitor definition by ID. Required fields\
        \ and the submitted configuration are overwritten; omitted `message`, `tags`,\
        \ and `clusterIds` keep their existing values. Omitting `dashboardId` clears\
        \ the dashboard link, and public updates clear any existing snooze because\
        \ `pauseUntil` is not part of the public schema."
      operationId: updateMonitor
      parameters:
      - description: Identifier of the saved monitor to update. Use the `id` returned
          by monitor query or create responses.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              example1:
                value:
                  name: High Error Rate Alert
                  message: Error rate exceeded threshold. Check the API gateway logs.
                  tags:
                  - key: severity
                    value: critical
                  configuration:
                    type: log
                    timeframe: 5
                    groupByFields: []
                    aggregationAlertLogic: no_aggregation
                    queries:
                    - aggregate:
                        type: count
                      filter: level:ERROR service:api-gateway
                    conditions:
                    - formula: q1
                      operator: greater_than
                      threshold: 100
                    noDataBehavior: resolve
                  priority: 1
                  owner: team-123-abc
                  dashboardId: 789-abc-def
                  permissions: all
                  clusterIds: []
              example2:
                value:
                  name: High CPU Utilization By Service
                  message: More than half of grouped services are above the CPU threshold.
                  tags:
                  - key: severity
                    value: warning
                  configuration:
                    type: metric
                    timeframe: 10
                    groupByFields:
                    - fields:
                      - context.service.name
                      limit: 10
                    aggregationAlertLogic: proportion
                    proportionAlertThreshold: 50
                    queries:
                    - aggregate:
                        type: average
                        field: system.cpu.utilization
                      filter: context.service.name:checkout
                    conditions:
                    - formula: q1
                      operator: greater_than
                      threshold: 0.8
                    noDataBehavior: keep_last_status
                  priority: 2
                  owner: team-123-abc
                  dashboardId: 789-abc-def
                  permissions: all
                  clusterIds: []
              example3:
                value:
                  name: Certificate Expiry Warning
                  message: A certificate is approaching expiry.
                  tags:
                  - key: environment
                    value: production
                  configuration:
                    type: certificate-expiry
                    warnBeforeInDays: 30
                    cloudAccounts:
                    - aws-prod
                    aggregationAlertLogic: each
                    noDataBehavior: resolve
                  priority: 3
                  owner: team-123-abc
                  dashboardId: 789-abc-def
                  permissions: all
                  clusterIds: []
              example4:
                value:
                  name: New Error Pattern Detector
                  message: A new error pattern was detected in the logs.
                  tags:
                  - key: team
                    value: platform
                  configuration:
                    type: log-error-pattern
                    aggregationAlertLogic: each
                    noDataBehavior: keep_last_status
                    filter:
                      teamIds:
                      - team-123-abc
                      env: production
                      service: api-gateway
                  priority: 2
                  owner: team-123-abc
                  dashboardId: 789-abc-def
                  permissions: all
                  clusterIds: []
            schema:
              $ref: "#/components/schemas/updateMonitor_request"
        description: "Monitor update request. Required fields and the submitted configuration\
          \ are overwritten; omitted `message`, `tags`, and `clusterIds` keep their\
          \ existing values. Omitting `dashboardId` clears the dashboard link."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateMonitorResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - monitors
  /v1/monitors:
    post:
      description: "Creates a monitor owned by the specified team. The monitor can\
        \ evaluate logs, metrics, traces, anomaly behavior, certificate expiry, or\
        \ new error patterns depending on its configuration."
      operationId: createMonitor
      requestBody:
        content:
          application/json:
            examples:
              example1:
                value:
                  name: High Error Rate Alert
                  message: Error rate exceeded threshold. Check the API gateway logs.
                  tags:
                  - key: severity
                    value: critical
                  configuration:
                    type: log
                    timeframe: 5
                    groupByFields: []
                    aggregationAlertLogic: no_aggregation
                    queries:
                    - aggregate:
                        type: count
                      filter: level:ERROR service:api-gateway
                    conditions:
                    - formula: q1
                      operator: greater_than
                      threshold: 100
                    noDataBehavior: resolve
                  priority: 1
                  owner: team-123-abc
                  dashboardId: 789-abc-def
                  permissions: all
                  clusterIds: []
              example2:
                value:
                  name: High CPU Utilization By Service
                  message: More than half of grouped services are above the CPU threshold.
                  tags:
                  - key: severity
                    value: warning
                  configuration:
                    type: metric
                    timeframe: 10
                    groupByFields:
                    - fields:
                      - context.service.name
                      limit: 10
                    aggregationAlertLogic: proportion
                    proportionAlertThreshold: 50
                    queries:
                    - aggregate:
                        type: average
                        field: system.cpu.utilization
                      filter: context.service.name:checkout
                    conditions:
                    - formula: q1
                      operator: greater_than
                      threshold: 0.8
                    noDataBehavior: keep_last_status
                  priority: 2
                  owner: team-123-abc
                  dashboardId: 789-abc-def
                  permissions: all
                  clusterIds: []
              example3:
                value:
                  name: Certificate Expiry Warning
                  message: A certificate is approaching expiry.
                  tags:
                  - key: environment
                    value: production
                  configuration:
                    type: certificate-expiry
                    warnBeforeInDays: 30
                    cloudAccounts:
                    - aws-prod
                    aggregationAlertLogic: each
                    noDataBehavior: resolve
                  priority: 3
                  owner: team-123-abc
                  dashboardId: 789-abc-def
                  permissions: all
                  clusterIds: []
              example4:
                value:
                  name: New Error Pattern Detector
                  message: A new error pattern was detected in the logs.
                  tags:
                  - key: team
                    value: platform
                  configuration:
                    type: log-error-pattern
                    aggregationAlertLogic: each
                    noDataBehavior: keep_last_status
                    filter:
                      teamIds:
                      - team-123-abc
                      env: production
                      service: api-gateway
                  priority: 2
                  owner: team-123-abc
                  dashboardId: 789-abc-def
                  permissions: all
                  clusterIds: []
            schema:
              $ref: "#/components/schemas/createMonitor_request"
        description: "Monitor creation request. Provide ownership, data access, alert\
          \ configuration, priority, tags, and optional dashboard or cluster scope."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateMonitorResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - monitors
  /v1/notification-rules:
    get:
      description: Lists notification rules visible to the authenticated operation
        key. Use this endpoint to audit alert delivery routing. Pagination fields
        limit the returned page.
      operationId: listNotificationRules
      parameters:
      - description: Maximum number of items to return in this page. Valid values
          are 1 through 1000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: "Zero-based index of the first matching item to return. Increase\
          \ it with `limit` to request later pages. If `limit` is provided without\
          \ `offset`, the offset defaults to 0."
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListNotificationRulesResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - notification-rules
    post:
      description: Creates a notification rule that matches alert transitions and
        sends notifications to configured targets. Monitors keep evaluating separately
        from notification rules.
      operationId: createNotificationRule
      requestBody:
        content:
          application/json:
            example:
              name: Critical Alerts
              queryString: env:prod service:api
              teamsFilter:
                type: all-public-teams
              prioritiesFilter:
              - 1
              - 2
              transitionTypesFilter:
              - triggered
              - resolved
              clusterIdsFilter: []
              owner: team-123-abc
              isActive: true
              tags:
              - key: channel
                value: alerts
              targets:
              - id: 789-abc-def
                rateLimit:
                  maxMessages: 10
                  minutes: 5
                renotifyConfig:
                  mode: each
                  renotificationStates:
                  - alert
                  renotifyIntervalMinutes: 30
                config:
                  type: email
                  addresses:
                  - oncall@example.com
            schema:
              $ref: "#/components/schemas/createNotificationRule_request"
        description: "Notification rule create or update request. Provide matching\
          \ filters, owner, tags, active state, and delivery targets."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateNotificationRuleResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - notification-rules
  /v1/notification-rules/{id}:
    delete:
      description: "Deletes a notification rule by ID. Alerting monitors continue\
        \ to evaluate, but this rule no longer sends notifications."
      operationId: deleteNotificationRule
      parameters:
      - description: "Identifier of the notification rule to delete. Use the `id`\
          \ returned by notification rule list, get, create, or update responses."
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteNotificationRuleResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - notification-rules
    get:
      description: Retrieves one notification rule by ID when the authenticated operation
        key can read it. Use this before updating routing or target configuration.
      operationId: getNotificationRule
      parameters:
      - description: Identifier of the notification rule to retrieve. Use the `id`
          returned by notification rule list or create responses.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetNotificationRuleResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - notification-rules
    put:
      description: Updates an existing notification rule by ID. Required fields and
        the submitted target list are overwritten; omitted optional fields keep their
        existing values.
      operationId: updateNotificationRule
      parameters:
      - description: "Identifier of the notification rule to update. Use the `id`\
          \ returned by notification rule list, get, or create responses."
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: Critical Alerts
              queryString: env:prod service:api
              teamsFilter:
                type: all-public-teams
              prioritiesFilter:
              - 1
              - 2
              transitionTypesFilter:
              - triggered
              - resolved
              clusterIdsFilter: []
              owner: team-123-abc
              isActive: true
              tags:
              - key: channel
                value: alerts
              targets:
              - id: 789-abc-def
                rateLimit:
                  maxMessages: 10
                  minutes: 5
                renotifyConfig:
                  mode: each
                  renotificationStates:
                  - alert
                  renotifyIntervalMinutes: 30
                config:
                  type: email
                  addresses:
                  - oncall@example.com
            schema:
              $ref: "#/components/schemas/updateNotificationRule_request"
        description: "Notification rule create or update request. Provide matching\
          \ filters, owner, tags, active state, and delivery targets."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateNotificationRuleResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - notification-rules
  /v1/tag-policies:
    get:
      description: "Lists tag policies visible to the authenticated operation key.\
        \ Use this to audit required tags, allowed values, team scope, and whether\
        \ each policy applies to assets or telemetry."
      operationId: listTagPolicies
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTagPoliciesResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - tag-policies
    post:
      description: Creates a tag policy for Tsuga-managed assets or telemetry data.
        Use the configuration type to choose the policy surface.
      operationId: createTagPolicy
      requestBody:
        content:
          application/json:
            examples:
              example1:
                value:
                  name: Required Environment Tag
                  description: Requires dashboards and monitors to declare an environment.
                  isActive: true
                  tagKey: environment
                  allowedTagValues:
                  - production
                  - staging
                  isRequired: true
                  teamScope:
                    teamIds:
                    - team-123-abc
                    mode: include
                  configuration:
                    type: tsuga_asset
                    assetTypes:
                    - dashboard
                    - monitor
                  owner: team-123-abc
              example2:
                value:
                  name: Telemetry Environment Policy
                  description: Warns when telemetry is missing a known deployment
                    environment.
                  isActive: true
                  tagKey: deployment.environment.name
                  allowedTagValues:
                  - production
                  - staging
                  - development
                  isRequired: true
                  configuration:
                    type: telemetry
                    assetTypes: []
                    shouldInsertWarning: true
                    dropSample: 25
                  owner: team-123-abc
            schema:
              $ref: "#/components/schemas/createTagPolicy_request"
        description: "Tag policy create or update request. Provide policy identity,\
          \ owner, enforced tag key, allowed values, team scope, active state, and\
          \ asset or telemetry configuration."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateTagPolicyResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - tag-policies
  /v1/tag-policies/{id}:
    delete:
      description: Deletes a tag policy by ID. Tsuga stops evaluating the policy after
        deletion. Reserved policies (for example the built-in `env` policy on ingestion
        API keys) cannot be deleted.
      operationId: deleteTagPolicy
      parameters:
      - description: "Identifier of the tag policy to delete. Use the `id` returned\
          \ by tag policy list, create, or update responses."
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteTagPolicyResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - tag-policies
    get:
      description: Retrieves one tag policy by ID when the authenticated operation
        key can read it. Use this before updating policy scope or enforcement settings.
      operationId: getTagPolicy
      parameters:
      - description: Identifier of the tag policy to retrieve. Use the `id` returned
          by tag policy list or create responses.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTagPolicyResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - tag-policies
    put:
      description: "Replaces an existing tag policy by ID, including scope, requiredness,\
        \ allowed values, owner, active state, and configuration. Reserved policies\
        \ (for example the built-in `env` policy on ingestion API keys) reject changes\
        \ to `tagKey` and reject `isActive: false` or `isRequired: false`."
      operationId: updateTagPolicy
      parameters:
      - description: "Identifier of the tag policy to update. Use the `id` returned\
          \ by tag policy list, get, or create responses."
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              example1:
                value:
                  name: Required Environment Tag
                  description: Requires dashboards and monitors to declare an environment.
                  isActive: true
                  tagKey: environment
                  allowedTagValues:
                  - production
                  - staging
                  isRequired: true
                  teamScope:
                    teamIds:
                    - team-123-abc
                    mode: include
                  configuration:
                    type: tsuga_asset
                    assetTypes:
                    - dashboard
                    - monitor
                  owner: team-123-abc
              example2:
                value:
                  name: Telemetry Environment Policy
                  description: Warns when telemetry is missing a known deployment
                    environment.
                  isActive: true
                  tagKey: deployment.environment.name
                  allowedTagValues:
                  - production
                  - staging
                  - development
                  isRequired: true
                  configuration:
                    type: telemetry
                    assetTypes: []
                    shouldInsertWarning: true
                    dropSample: 25
                  owner: team-123-abc
            schema:
              $ref: "#/components/schemas/updateTagPolicy_request"
        description: "Tag policy create or update request. Provide policy identity,\
          \ owner, enforced tag key, allowed values, team scope, active state, and\
          \ asset or telemetry configuration."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateTagPolicyResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - tag-policies
  /v1/teams:
    get:
      description: "Lists teams visible to the authenticated operation key. Use this\
        \ endpoint to inventory owners for resources, dashboards, monitors, routes,\
        \ and policies. Pagination fields limit the returned page."
      operationId: listTeams
      parameters:
      - description: Maximum number of items to return in this page. Valid values
          are 1 through 1000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: "Zero-based index of the first matching item to return. Increase\
          \ it with `limit` to request later pages. If `limit` is provided without\
          \ `offset`, the offset defaults to 0."
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTeamsResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - teams
    post:
      description: Creates a team for ownership and access control. Use this before
        assigning resources to a new owner team.
      operationId: createTeam
      requestBody:
        content:
          application/json:
            example:
              name: platform-engineering
              visibility: public
              tags:
              - key: department
                value: engineering
            schema:
              $ref: "#/components/schemas/createTeam_request"
        description: "Team create or update request. Provide the team name, optional\
          \ description, visibility, and tags."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateTeamResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - teams
  /v1/teams/{id}:
    delete:
      description: "Deletes a team. Fails while the team still owns resources (dashboards,\
        \ monitors, routes, API keys, etc.); reassign or delete those first. Team\
        \ memberships are removed automatically as part of the deletion."
      operationId: deleteTeam
      parameters:
      - description: "Identifier of the team to delete. Use the `id` returned by team\
          \ list, create, or update responses."
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteTeamResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - teams
    get:
      description: Retrieves one team by ID when the authenticated operation key can
        read it. Use this to resolve ownership metadata before creating or updating
        team-owned resources.
      operationId: getTeam
      parameters:
      - description: Identifier of the team to retrieve. Use the `id` returned by
          team list or create responses.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTeamResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - teams
    put:
      description: "Replaces a team definition by ID, including name, description,\
        \ visibility, and tags."
      operationId: updateTeam
      parameters:
      - description: "Identifier of the team to update. Use the `id` returned by team\
          \ list, get, or create responses."
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: platform-engineering
              visibility: public
              tags:
              - key: department
                value: engineering
            schema:
              $ref: "#/components/schemas/createTeam_request"
        description: "Team create or update request. Provide the team name, optional\
          \ description, visibility, and tags."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateTeamResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - teams
components:
  schemas:
    ClientErrorResponse:
      description: Standard envelope for client (4XX) API errors
      example:
        code: CLUSTER_DB_QUERY_INVALID_CONNECTION_PARAMS
        details:
          violations:
          - assetId: assetId
            tagPolicyId: tagPolicyId
            assetName: assetName
            tagKey: tagKey
            message: message
            assetType: ingestion-api-key
          - assetId: assetId
            tagPolicyId: tagPolicyId
            assetName: assetName
            tagKey: tagKey
            message: message
            assetType: ingestion-api-key
          type: tag_policy_violation
        message: message
        statusCode: 1.4658129805029452
      properties:
        code:
          description: Machine readable error code describing what went wrong
          enum:
          - CLUSTER_DB_QUERY_INVALID_CONNECTION_PARAMS
          - CLUSTER_DB_QUERY_INVALID_CREDENTIALS
          - CLUSTER_DB_QUERY_PERMISSION_DENIED
          - CLUSTER_DB_QUERY_QUERY_SYNTAX_ERROR
          - CLUSTER_DB_QUERY_DATABASE_UNREACHABLE
          - CLUSTER_DB_QUERY_CONNECTION_FAILED
          - CLUSTER_DB_QUERY_QUERY_EXECUTION_FAILED
          - CLUSTER_DB_QUERY_QUERY_TIMEOUT
          - CLUSTER_AGGREGATION_STRUCTURE
          - ABORT_ERROR
          - BAD_REQUEST
          - DUPLICATE_KEY_VIOLATION
          - FOREIGN_KEY_VIOLATION
          - FST_ERR_VALIDATION
          - INVALID_INPUT
          - FORBIDDEN
          - MISSING_PERMISSION
          - PRIVILEGE_ESCALATION
          - RATE_LIMITED
          - RESERVED_TAG_POLICY_ERROR
          - RESOURCE_NOT_FOUND
          - INVALID_INVITATION
          - TAG_POLICY_ALREADY_EXISTS_ERROR
          - TAG_POLICY_VALIDATION_ERROR
          - UNAUTHORIZED
          - URL_NOT_FOUND
          type: string
        message:
          description: Human readable explanation of the error
          type: string
        statusCode:
          description: HTTP status code that was returned
          type: number
        details:
          $ref: "#/components/schemas/TagPolicyViolationDetails"
      required:
      - message
      - statusCode
    ServerErrorResponse:
      description: Standard envelope for server (5XX) API errors
      example:
        code: INTERNAL_ERROR
        message: message
        statusCode: 5.962133916683182
      properties:
        code:
          description: Machine readable error code describing what went wrong
          enum:
          - INTERNAL_ERROR
          - INVALID_QUERY_TO_CLUSTER
          type: string
        message:
          description: Human readable explanation of the error
          type: string
        statusCode:
          description: HTTP status code that was returned
          type: number
      required:
      - message
      - statusCode
    ClientErrorEnvelope:
      description: Standard envelope wrapping all client (4XX) error responses
      example:
        requestId: requestId
        error:
          code: CLUSTER_DB_QUERY_INVALID_CONNECTION_PARAMS
          details:
            violations:
            - assetId: assetId
              tagPolicyId: tagPolicyId
              assetName: assetName
              tagKey: tagKey
              message: message
              assetType: ingestion-api-key
            - assetId: assetId
              tagPolicyId: tagPolicyId
              assetName: assetName
              tagKey: tagKey
              message: message
              assetType: ingestion-api-key
            type: tag_policy_violation
          message: message
          statusCode: 1.4658129805029452
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        error:
          $ref: "#/components/schemas/ClientErrorResponse"
      required:
      - error
      - requestId
    ServerErrorEnvelope:
      description: Standard envelope wrapping all server (5XX) error responses
      example:
        requestId: requestId
        error:
          code: INTERNAL_ERROR
          message: message
          statusCode: 5.962133916683182
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        error:
          $ref: "#/components/schemas/ServerErrorResponse"
      required:
      - error
      - requestId
    ResponseMetadata:
      example:
        pagination:
          pageCount: 6
          totalCount: 0
      properties:
        pagination:
          $ref: "#/components/schemas/ResponseMetadata_pagination"
      required:
      - pagination
    DeleteResponse:
      example:
        success: true
      properties:
        success:
          description: Always `true` when the delete request completed and the resource
            was removed.
          enum:
          - true
          type: boolean
      required:
      - success
    Dashboard:
      description: "Saved visualization made of dashboard-wide filters and ordered\
        \ graphs. Use dashboards to preserve reusable views for a team or workflow.\
        \ See [Dashboards](/documentation/visualize/dashboards/index)."
      example:
        id: 123-456-abc
        name: API Performance Overview
        owner: team-123-abc
        graphs:
        - id: 789-abc-def
          name: Request Latency P99
          visualization:
            type: timeseries
            source: metrics
            queries:
            - aggregate:
                type: percentile
                field: duration
                percentile: 99
              filter: service:api-gateway
          layout:
            x: 0
            "y": 0
            w: 6
            h: 4
        filters:
        - key: env
          values:
          - production
        tags:
        - key: team
          value: platform
        timePreset: past-1-hour
      properties:
        id:
          description: Tsuga-generated dashboard ID assigned when the dashboard is
            created.
          type: string
        name:
          description: Display name of the dashboard. Set by the caller on create
            or update.
          type: string
        owner:
          description: ID of the team that owns the dashboard. Set by the caller on
            create or update and used for dashboard access control.
          type: string
        graphs:
          description: Ordered widgets that compose the dashboard
          items:
            $ref: "#/components/schemas/Graph_1"
          type: array
        filters:
          description: Dashboard-wide filters applied to every widget on the dashboard.
          items:
            $ref: "#/components/schemas/Dashboard_filters_inner"
          type: array
        tags:
          description: Key/value tags applied to the resource. Use them to organize
            resources and to satisfy tag policies.
          items:
            $ref: "#/components/schemas/Tag_1"
          title: Tags
          type: array
        timePreset:
          description: Relative time preset used when opening the dashboard.
          enum:
          - past-5-minutes
          - past-15-minutes
          - past-30-minutes
          - past-1-hour
          - past-2-hours
          - past-4-hours
          - past-6-hours
          - past-12-hours
          - past-24-hours
          - past-2-days
          - past-3-days
          - past-7-days
          - past-30-days
          - past-3-months
          - current-day
          - current-week
          - current-month
          - current-year
          - previous-day
          - previous-week
          - previous-month
          - previous-3-months
          - previous-year
          type: string
        folderId:
          description: Folder that contains the dashboard. Set from the dashboard’s
            saved folder relationship. Returned when the dashboard is in a folder;
            omitted when it is not.
          type: string
      required:
      - graphs
      - id
      - name
      - owner
    QueryDashboardsResponse:
      example:
        metadata:
          pagination:
            pageCount: 6
            totalCount: 0
        data:
        - id: 123-456-abc
          name: API Performance Overview
          owner: team-123-abc
          graphs:
          - id: 789-abc-def
            name: Request Latency P99
            visualization:
              type: timeseries
              source: metrics
              queries:
              - aggregate:
                  type: percentile
                  field: duration
                  percentile: 99
                filter: service:api-gateway
            layout:
              x: 0
              "y": 0
              w: 6
              h: 4
          filters:
          - key: env
            values:
            - production
          tags:
          - key: team
            value: platform
          timePreset: past-1-hour
        - id: 123-456-abc
          name: API Performance Overview
          owner: team-123-abc
          graphs:
          - id: 789-abc-def
            name: Request Latency P99
            visualization:
              type: timeseries
              source: metrics
              queries:
              - aggregate:
                  type: percentile
                  field: duration
                  percentile: 99
                filter: service:api-gateway
            layout:
              x: 0
              "y": 0
              w: 6
              h: 4
          filters:
          - key: env
            values:
            - production
          tags:
          - key: team
            value: platform
          timePreset: past-1-hour
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          items:
            $ref: "#/components/schemas/Dashboard"
          type: array
        metadata:
          $ref: "#/components/schemas/ResponseMetadata"
      required:
      - data
      - requestId
    GetDashboardResponse:
      example:
        data:
          id: 123-456-abc
          name: API Performance Overview
          owner: team-123-abc
          graphs:
          - id: 789-abc-def
            name: Request Latency P99
            visualization:
              type: timeseries
              source: metrics
              queries:
              - aggregate:
                  type: percentile
                  field: duration
                  percentile: 99
                filter: service:api-gateway
            layout:
              x: 0
              "y": 0
              w: 6
              h: 4
          filters:
          - key: env
            values:
            - production
          tags:
          - key: team
            value: platform
          timePreset: past-1-hour
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          $ref: "#/components/schemas/Dashboard"
      required:
      - data
      - requestId
    CreateDashboardResponse:
      example:
        data:
          id: 123-456-abc
          name: API Performance Overview
          owner: team-123-abc
          graphs:
          - id: 789-abc-def
            name: Request Latency P99
            visualization:
              type: timeseries
              source: metrics
              queries:
              - aggregate:
                  type: percentile
                  field: duration
                  percentile: 99
                filter: service:api-gateway
            layout:
              x: 0
              "y": 0
              w: 6
              h: 4
          filters:
          - key: env
            values:
            - production
          tags:
          - key: team
            value: platform
          timePreset: past-1-hour
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          $ref: "#/components/schemas/Dashboard"
      required:
      - data
      - requestId
    UpdateDashboardResponse:
      example:
        data:
          id: 123-456-abc
          name: API Performance Overview
          owner: team-123-abc
          graphs:
          - id: 789-abc-def
            name: Request Latency P99
            visualization:
              type: timeseries
              source: metrics
              queries:
              - aggregate:
                  type: percentile
                  field: duration
                  percentile: 99
                filter: service:api-gateway
            layout:
              x: 0
              "y": 0
              w: 6
              h: 4
          filters:
          - key: env
            values:
            - production
          tags:
          - key: team
            value: platform
          timePreset: past-1-hour
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          $ref: "#/components/schemas/Dashboard"
      required:
      - data
      - requestId
    UpdateDashboardGraphResponse:
      example:
        data:
          layout:
            w: 5.637376656633329
            x: 1.4658129805029452
            h: 2.3021358869347655
            "y": 5.962133916683182
          visualization:
            thresholds:
            - level: alert
              value: 0.8008281904610115
            - level: alert
              value: 0.8008281904610115
            legendMode: table
            connectionId: connectionId
            yAxisSettings:
              min:
                type: auto
              max: null
              scale:
                type: pow
                exponent: 6.027456183070403
              alwaysIncludeZero: true
            type: timeseries-connection
            queries:
            - queries
            - queries
          name: name
          description: description
          descriptionAlign: flex-start
          descriptionJustifyContent: flex-start
          id: id
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          $ref: "#/components/schemas/Graph_1"
      required:
      - data
      - requestId
    DeleteDashboardResponse:
      example:
        data:
          success: true
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          $ref: "#/components/schemas/DeleteResponse"
      required:
      - data
      - requestId
    Monitor:
      description: "Saved alert definition that evaluates telemetry and creates alert\
        \ transitions. Notification delivery is configured separately with notification\
        \ rules. See [Monitors](/documentation/alert/monitors/index)."
      example:
        id: 123-456-abc
        name: High Error Rate Alert
        message: Error rate exceeded threshold. Check the API gateway logs.
        tags:
        - key: severity
          value: critical
        configuration:
          type: log
          timeframe: 5
          groupByFields: []
          aggregationAlertLogic: no_aggregation
          queries:
          - aggregate:
              type: count
            filter: level:ERROR service:api-gateway
          conditions:
          - formula: q1
            operator: greater_than
            threshold: 100
          noDataBehavior: resolve
        priority: 1
        owner: team-123-abc
        dashboardId: 789-abc-def
        permissions: all
        clusterIds: []
      properties:
        id:
          description: Tsuga-generated monitor ID assigned when the monitor is created.
          type: string
        name:
          description: Display name of the monitor and alert source.
          type: string
        owner:
          description: Team ID that owns and manages the monitor.
          type: string
        message:
          description: Caller-supplied message included in notifications triggered
            by this monitor. Omitted when the monitor was created or last updated
            without one.
          type: string
        tags:
          description: Key/value tags applied to the resource. Use them to organize
            resources and to satisfy tag policies.
          items:
            $ref: "#/components/schemas/Tag_1"
          title: Tags
          type: array
        configuration:
          $ref: "#/components/schemas/Monitor_configuration"
        priority:
          description: "Monitor priority from 1 through 5, where 1 is highest priority."
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          type: number
        permissions:
          description: "`all` allows the resource to query all permitted telemetry,\
            \ `owning-team-and-public` limits it to the owning team plus public data,\
            \ and `owning-team-only` limits it to the owning team."
          enum:
          - all
          - owning-team-and-public
          - owning-team-only
          type: string
        dashboardId:
          description: ID of the dashboard linked to this monitor for context when
            investigating alerts. Caller-supplied. Omitted when no dashboard is linked.
          type: string
        clusterIds:
          description: Cluster IDs where the monitor is deployed. Empty means all
            eligible clusters.
          items:
            type: string
          type: array
      required:
      - clusterIds
      - configuration
      - id
      - name
      - owner
      - permissions
      - priority
    QueryMonitorsResponse:
      example:
        metadata:
          pagination:
            pageCount: 6
            totalCount: 0
        data:
        - id: 123-456-abc
          name: High Error Rate Alert
          message: Error rate exceeded threshold. Check the API gateway logs.
          tags:
          - key: severity
            value: critical
          configuration:
            type: log
            timeframe: 5
            groupByFields: []
            aggregationAlertLogic: no_aggregation
            queries:
            - aggregate:
                type: count
              filter: level:ERROR service:api-gateway
            conditions:
            - formula: q1
              operator: greater_than
              threshold: 100
            noDataBehavior: resolve
          priority: 1
          owner: team-123-abc
          dashboardId: 789-abc-def
          permissions: all
          clusterIds: []
        - id: 123-456-abc
          name: High Error Rate Alert
          message: Error rate exceeded threshold. Check the API gateway logs.
          tags:
          - key: severity
            value: critical
          configuration:
            type: log
            timeframe: 5
            groupByFields: []
            aggregationAlertLogic: no_aggregation
            queries:
            - aggregate:
                type: count
              filter: level:ERROR service:api-gateway
            conditions:
            - formula: q1
              operator: greater_than
              threshold: 100
            noDataBehavior: resolve
          priority: 1
          owner: team-123-abc
          dashboardId: 789-abc-def
          permissions: all
          clusterIds: []
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          items:
            $ref: "#/components/schemas/Monitor"
          type: array
        metadata:
          $ref: "#/components/schemas/ResponseMetadata"
      required:
      - data
      - requestId
    GetMonitorResponse:
      example:
        data:
          id: 123-456-abc
          name: High Error Rate Alert
          message: Error rate exceeded threshold. Check the API gateway logs.
          tags:
          - key: severity
            value: critical
          configuration:
            type: log
            timeframe: 5
            groupByFields: []
            aggregationAlertLogic: no_aggregation
            queries:
            - aggregate:
                type: count
              filter: level:ERROR service:api-gateway
            conditions:
            - formula: q1
              operator: greater_than
              threshold: 100
            noDataBehavior: resolve
          priority: 1
          owner: team-123-abc
          dashboardId: 789-abc-def
          permissions: all
          clusterIds: []
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          $ref: "#/components/schemas/Monitor"
      required:
      - data
      - requestId
    CreateMonitorResponse:
      example:
        data:
          id: 123-456-abc
          name: High Error Rate Alert
          message: Error rate exceeded threshold. Check the API gateway logs.
          tags:
          - key: severity
            value: critical
          configuration:
            type: log
            timeframe: 5
            groupByFields: []
            aggregationAlertLogic: no_aggregation
            queries:
            - aggregate:
                type: count
              filter: level:ERROR service:api-gateway
            conditions:
            - formula: q1
              operator: greater_than
              threshold: 100
            noDataBehavior: resolve
          priority: 1
          owner: team-123-abc
          dashboardId: 789-abc-def
          permissions: all
          clusterIds: []
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
[...]
