openapi: 3.1.0
info:
  contact:
    name: Tsuga
    url: https://tsuga.com
  description: HTTP API used by Tsuga customers
  title: Tsuga Public API
  version: 1.0.0
servers:
- url: https://api.tsuga.com
security:
- bearerAuth: []
tags:
- description: Data aggregation and analytics
  name: aggregation
- description: Visualization of telemetry data with customizable graphs and filters
  name: dashboards
- description: API keys for ingesting telemetry data
  name: ingestion-api-keys
- description: User invitation management
  name: invitations
- description: Log search and log patterns
  name: logs
- description: Metrics search and aggregation
  name: metrics
- description: Monitors for sending alerts based on telemetry data
  name: monitors
- description: Notification rules for alerts
  name: notification-rules
- description: Notification silences for alerts
  name: notification-silences
- description: Data retention rules for telemetry sources
  name: retention-policies
- description: Routes for processing log data
  name: routes
- description: Services inferred from telemetry
  name: services
- description: Tag policies for enforcing tag requirements on Tsuga assets or telemetry
    data
  name: tag-policies
- description: Collection of users for managing ownership and access to resources
  name: teams
- description: Memberships of users in teams
  name: team-memberships
- description: Trace search
  name: traces
- description: User management and authentication
  name: users
paths:
  /v1/aggregation/multi-query/scalar:
    post:
      description: Run aggregation queries and return scalar results
      operationId: aggregateScalar
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/aggregateScalar_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AggregateScalarResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - aggregation
      x-internal: true
  /v1/aggregation/multi-query/timeseries:
    post:
      description: Run aggregation queries and return timeseries results
      operationId: aggregateTimeseries
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/aggregateTimeseries_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AggregateTimeseriesResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - aggregation
      x-internal: true
  /v1/ingestion-api-keys:
    get:
      description: Retrieve all ingestion API keys
      operationId: listIngestionApiKeys
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListIngestionApiKeysResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - ingestion-api-keys
      x-internal: true
    post:
      description: Create a new ingestion API key
      operationId: createIngestionApiKey
      requestBody:
        content:
          application/json:
            example:
              name: Production Logs Ingestion
              owner: abc-123-def
              tags:
              - key: env
                value: production
              teamOverrideFields:
              - service
            schema:
              $ref: "#/components/schemas/createIngestionApiKey_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateIngestionApiKeyResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - ingestion-api-keys
      x-internal: true
  /v1/ingestion-api-keys/{id}:
    delete:
      description: Delete an ingestion API key by its id
      operationId: deleteIngestionApiKey
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteIngestionApiKeyResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - ingestion-api-keys
      x-internal: true
    get:
      description: Retrieve an ingestion API key by its id
      operationId: getIngestionApiKey
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetIngestionApiKeyResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - ingestion-api-keys
      x-internal: true
    put:
      description: Update an ingestion API key by its id
      operationId: updateIngestionApiKey
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: Production Logs Ingestion
              owner: abc-123-def
              tags:
              - key: env
                value: production
              teamOverrideFields:
              - service
            schema:
              $ref: "#/components/schemas/createIngestionApiKey_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateIngestionApiKeyResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - ingestion-api-keys
      x-internal: true
  /v1/dashboards:
    get:
      description: Retrieve all dashboards
      operationId: listDashboards
      parameters:
      - description: Filter by owner team IDs
        explode: true
        in: query
        name: owners
        required: false
        schema:
          items:
            maxLength: 250
            minLength: 1
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDashboardsResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - dashboards
      x-internal: false
    post:
      description: Create a new dashboard
      operationId: createDashboard
      requestBody:
        content:
          application/json:
            example:
              name: API Performance Overview
              owner: abc-123-def
              graphs:
              - id: 789-abc-def
                name: Request Latency P99
                visualization:
                  type: timeseries
                  source: metrics
                  queries:
                  - aggregate:
                      type: percentile
                      field: duration
                      percentile: 99
                    filter: service:api-gateway
                layout:
                  x: 0
                  "y": 0
                  w: 6
                  h: 4
              filters:
              - key: env
                values:
                - production
              tags:
              - key: team
                value: platform
              timePreset: past-1-hour
            schema:
              $ref: "#/components/schemas/createDashboard_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateDashboardResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - dashboards
      x-internal: false
  /v1/dashboards/{id}:
    delete:
      description: Delete a dashboard by its id
      operationId: deleteDashboard
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteDashboardResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - dashboards
      x-internal: false
    get:
      description: Retrieve a dashboard by its id
      operationId: getDashboard
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetDashboardResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - dashboards
      x-internal: false
    put:
      description: Update a dashboard by its id
      operationId: updateDashboard
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateDashboard_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateDashboardResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - dashboards
      x-internal: false
  /v1/invitations:
    get:
      description: Retrieve all user invitations
      operationId: listInvitations
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListInvitationsResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - invitations
      x-internal: true
    post:
      description: Invite users to the organization
      operationId: inviteUsers
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/inviteUsers_request_inner"
              maxItems: 10
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InviteUsersResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - invitations
      x-internal: true
  /v1/logs/search:
    get:
      description: Search logs
      operationId: searchLogs
      parameters:
      - explode: true
        in: query
        name: query
        required: false
        schema:
          format: tsuga-query
          maxLength: 10000
          minLength: 0
          type: string
        style: form
      - explode: true
        in: query
        name: maxResults
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: Start timestamp in seconds
        example: 1704067200
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: int64
          maximum: 4927737600
          minimum: 1456444800
          type: integer
        style: form
      - description: End timestamp in seconds
        example: 1704067200
        explode: true
        in: query
        name: to
        required: true
        schema:
          format: int64
          maximum: 4927737600
          minimum: 1456444800
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchLogsResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - logs
      x-internal: true
  /v1/metrics:
    get:
      description: Get all metrics with their metadata
      operationId: listMetrics
      parameters:
      - description: Start timestamp in seconds
        example: 1704067200
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: int64
          maximum: 4927737600
          minimum: 1456444800
          type: integer
        style: form
      - description: End timestamp in seconds
        example: 1704067200
        explode: true
        in: query
        name: to
        required: true
        schema:
          format: int64
          maximum: 4927737600
          minimum: 1456444800
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMetricsResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - metrics
      x-internal: true
  /v1/metrics/{name}:
    get:
      description: Retrieve a metric by name with its metadata
      operationId: getMetric
      parameters:
      - description: Start timestamp in seconds
        example: 1704067200
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: int64
          maximum: 4927737600
          minimum: 1456444800
          type: integer
        style: form
      - description: End timestamp in seconds
        example: 1704067200
        explode: true
        in: query
        name: to
        required: true
        schema:
          format: int64
          maximum: 4927737600
          minimum: 1456444800
          type: integer
        style: form
      - description: The metric name
        explode: false
        in: path
        name: name
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMetricResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - metrics
      x-internal: true
  /v1/monitors:
    get:
      description: Retrieve all monitors
      operationId: listMonitors
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMonitorsResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - monitors
      x-internal: false
    post:
      description: Create a new monitor
      operationId: createMonitor
      requestBody:
        content:
          application/json:
            example:
              name: High Error Rate Alert
              message: Error rate exceeded threshold. Check the API gateway logs.
              tags:
              - key: severity
                value: critical
              configuration:
                type: log
                timeframe: 5
                groupByFields: []
                queries:
                - aggregate:
                    type: count
                  filter: level:ERROR service:api-gateway
                condition:
                  formula: q1
                  operator: greater_than
                  threshold: 100
                noDataBehavior: resolve
              priority: 1
              owner: abc-123-def
              dashboardId: 789-abc-def
              permissions: all
            schema:
              $ref: "#/components/schemas/createMonitor_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateMonitorResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - monitors
      x-internal: false
  /v1/monitors/{id}:
    delete:
      description: Delete a monitor by its id
      operationId: deleteMonitor
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteMonitorResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - monitors
      x-internal: false
    get:
      description: Retrieve a monitor by its id
      operationId: getMonitor
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMonitorResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - monitors
      x-internal: false
    put:
      description: Update a monitor by its id
      operationId: updateMonitor
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: High Error Rate Alert
              message: Error rate exceeded threshold. Check the API gateway logs.
              tags:
              - key: severity
                value: critical
              configuration:
                type: log
                timeframe: 5
                groupByFields: []
                queries:
                - aggregate:
                    type: count
                  filter: level:ERROR service:api-gateway
                condition:
                  formula: q1
                  operator: greater_than
                  threshold: 100
                noDataBehavior: resolve
              priority: 1
              owner: abc-123-def
              dashboardId: 789-abc-def
              permissions: all
            schema:
              $ref: "#/components/schemas/createMonitor_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateMonitorResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - monitors
      x-internal: false
  /v1/notification-rules:
    get:
      description: Retrieve all notification rules
      operationId: listNotificationRules
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListNotificationRulesResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - notification-rules
      x-internal: false
    post:
      description: Create a new notification rule
      operationId: createNotificationRule
      requestBody:
        content:
          application/json:
            example:
              name: Critical Alerts
              teamsFilter:
                type: all-teams
              prioritiesFilter:
              - 1
              - 2
              transitionTypesFilter:
              - triggered
              - resolved
              clusterIdsFilter: []
              owner: abc-123-def
              isActive: true
              tags:
              - key: channel
                value: alerts
              targets:
              - id: 789-abc-def
                config:
                  type: email
                  addresses:
                  - oncall@example.com
            schema:
              $ref: "#/components/schemas/createNotificationRule_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateNotificationRuleResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - notification-rules
      x-internal: false
  /v1/notification-rules/{id}:
    delete:
      description: Delete a notification rule by its id
      operationId: deleteNotificationRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteNotificationRuleResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - notification-rules
      x-internal: false
    get:
      description: Retrieve a notification rule by its id
      operationId: getNotificationRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetNotificationRuleResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - notification-rules
      x-internal: false
    put:
      description: Update a notification rule by its id
      operationId: updateNotificationRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: Critical Alerts
              teamsFilter:
                type: all-teams
              prioritiesFilter:
              - 1
              - 2
              transitionTypesFilter:
              - triggered
              - resolved
              clusterIdsFilter: []
              owner: abc-123-def
              isActive: true
              tags:
              - key: channel
                value: alerts
              targets:
              - id: 789-abc-def
                config:
                  type: email
                  addresses:
                  - oncall@example.com
            schema:
              $ref: "#/components/schemas/createNotificationRule_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateNotificationRuleResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - notification-rules
      x-internal: false
  /v1/notification-silences:
    get:
      description: Retrieve all notification silences
      operationId: listNotificationSilences
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListNotificationSilencesResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - notification-silences
      x-internal: true
    post:
      description: Create a new notification silence
      operationId: createNotificationSilence
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createNotificationSilence_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateNotificationSilenceResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - notification-silences
      x-internal: true
  /v1/notification-silences/{id}:
    delete:
      description: Delete a notification silence by its id
      operationId: deleteNotificationSilence
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteNotificationSilenceResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - notification-silences
      x-internal: true
    get:
      description: Retrieve a notification silence by its id
      operationId: getNotificationSilence
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetNotificationSilenceResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - notification-silences
      x-internal: true
    put:
      description: Update a notification silence by its id
      operationId: updateNotificationSilence
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createNotificationSilence_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateNotificationSilenceResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - notification-silences
      x-internal: true
  /v1/retention-policies:
    get:
      description: Retrieve all retention policies
      operationId: listRetentionPolicies
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListRetentionPoliciesResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - retention-policies
      x-internal: true
    post:
      description: Create a new retention policy
      operationId: createRetentionPolicy
      requestBody:
        content:
          application/json:
            example:
              env: production
              teamId: abc-123-def
              dataSource: logs
              durationDays: 30-days
              isEnabled: true
            schema:
              $ref: "#/components/schemas/createRetentionPolicy_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateRetentionPolicyResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - retention-policies
      x-internal: true
  /v1/retention-policies/{id}:
    delete:
      description: Delete a retention policy by its id
      operationId: deleteRetentionPolicy
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteRetentionPolicyResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - retention-policies
      x-internal: true
    get:
      description: Retrieve a retention policy by its id
      operationId: getRetentionPolicy
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetRetentionPolicyResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - retention-policies
      x-internal: true
    put:
      description: Update a retention policy by its id
      operationId: updateRetentionPolicy
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              env: production
              teamId: abc-123-def
              dataSource: logs
              durationDays: 30-days
              isEnabled: true
            schema:
              $ref: "#/components/schemas/createRetentionPolicy_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateRetentionPolicyResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - retention-policies
      x-internal: true
  /v1/routes:
    get:
      description: Retrieve all routes
      operationId: listRoutes
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListRoutesResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - routes
      x-internal: true
    post:
      description: Create a new route
      operationId: createRoute
      requestBody:
        content:
          application/json:
            example:
              name: Enrich API Gateway Logs
              description: Adds service metadata and normalizes log format
              isEnabled: true
              query: service:api-gateway
              tags:
              - key: category
                value: enrichment
              owner: abc-123-def
              processors:
              - id: 789-abc-def
                type: parse-attribute
                tags: []
                params:
                  subtype: grok
                  attributeName: message
                  rules:
                  - "%{TIMESTAMP_ISO8601:timestamp} %{LOGLEVEL:level} %{GREEDYDATA:msg}"
            schema:
              $ref: "#/components/schemas/createRoute_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateRouteResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - routes
      x-internal: true
  /v1/routes/{id}:
    delete:
      description: Delete a route by its id
      operationId: deleteRoute
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteRouteResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - routes
      x-internal: true
    get:
      description: Retrieve a route by its id
      operationId: getRoute
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetRouteResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - routes
      x-internal: true
    put:
      description: Update a route by its id
      operationId: updateRoute
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: Enrich API Gateway Logs
              description: Adds service metadata and normalizes log format
              isEnabled: true
              query: service:api-gateway
              tags:
              - key: category
                value: enrichment
              owner: abc-123-def
              processors:
              - id: 789-abc-def
                type: parse-attribute
                tags: []
                params:
                  subtype: grok
                  attributeName: message
                  rules:
                  - "%{TIMESTAMP_ISO8601:timestamp} %{LOGLEVEL:level} %{GREEDYDATA:msg}"
            schema:
              $ref: "#/components/schemas/createRoute_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateRouteResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - routes
      x-internal: true
  /v1/services:
    get:
      description: Retrieve all services
      operationId: listServices
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListServicesResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - services
      x-internal: true
  /v1/services/{serviceId}:
    get:
      description: Retrieve a service by its id
      operationId: getService
      parameters:
      - explode: false
        in: path
        name: serviceId
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetServiceResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - services
      x-internal: true
  /v1/tag-policies:
    get:
      description: Retrieve all tag policies
      operationId: listTagPolicies
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTagPoliciesResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - tag-policies
      x-internal: false
    post:
      description: Create a new tag policy
      operationId: createTagPolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createTagPolicy_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateTagPolicyResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - tag-policies
      x-internal: false
  /v1/tag-policies/{id}:
    delete:
      description: Delete a tag policy by its id
      operationId: deleteTagPolicy
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteTagPolicyResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - tag-policies
      x-internal: false
    get:
      description: Retrieve a tag policy by its id
      operationId: getTagPolicy
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTagPolicyResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - tag-policies
      x-internal: false
    put:
      description: Update a tag policy by its id
      operationId: updateTagPolicy
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createTagPolicy_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateTagPolicyResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - tag-policies
      x-internal: false
  /v1/teams:
    get:
      description: Retrieve all teams
      operationId: listTeams
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTeamsResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - teams
      x-internal: false
    post:
      description: Create a new team
      operationId: createTeam
      requestBody:
        content:
          application/json:
            example:
              name: Platform Engineering
              description: Responsible for internal developer tooling and infrastructure
              visibility: public
              tags:
              - key: department
                value: engineering
            schema:
              $ref: "#/components/schemas/createTeam_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateTeamResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - teams
      x-internal: false
  /v1/teams/{id}:
    delete:
      description: Delete a team by its id
      operationId: deleteTeam
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
[...]
