openapi: 3.1.0
info:
  contact:
    name: Tsuga
    url: https://tsuga.com
  description: HTTP API used by Tsuga customers
  title: Tsuga Public API
  version: 1.0.0
servers:
- url: https://api.tsuga.com
security:
- bearerAuth: []
tags:
- description: Data aggregation and analytics
  name: aggregation
- description: Visualization of telemetry data with customizable graphs and filters
  name: dashboards
- description: API keys for ingesting telemetry data
  name: ingestion-api-keys
- description: User invitation management
  name: invitations
- description: Log search and log patterns
  name: logs
- description: Metrics search and aggregation
  name: metrics
- description: Monitors for sending alerts based on telemetry data
  name: monitors
- description: Notification rules for alerts
  name: notification-rules
- description: Notification silences for alerts
  name: notification-silences
- description: Data retention rules for telemetry sources
  name: retention-policies
- description: Routes for processing log data
  name: routes
- description: Services inferred from telemetry
  name: services
- description: Tag policies for enforcing tag requirements on Tsuga assets or telemetry
    data
  name: tag-policies
- description: Collection of users for managing ownership and access to resources
  name: teams
- description: Memberships of users in teams
  name: team-memberships
- description: Trace search
  name: traces
- description: User management and authentication
  name: users
paths:
  /v1/dashboards:
    get:
      description: Retrieve all dashboards
      operationId: listDashboards
      parameters:
      - description: Filter by owner team IDs
        explode: true
        in: query
        name: owners
        required: false
        schema:
          items:
            maxLength: 250
            minLength: 1
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDashboardsResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - dashboards
    post:
      description: Create a new dashboard
      operationId: createDashboard
      requestBody:
        content:
          application/json:
            example:
              name: API Performance Overview
              owner: abc-123-def
              graphs:
              - id: 789-abc-def
                name: Request Latency P99
                visualization:
                  type: timeseries
                  source: metrics
                  queries:
                  - aggregate:
                      type: percentile
                      field: duration
                      percentile: 99
                    filter: service:api-gateway
                layout:
                  x: 0
                  "y": 0
                  w: 6
                  h: 4
              filters:
              - key: env
                values:
                - production
              tags:
              - key: team
                value: platform
              timePreset: past-1-hour
            schema:
              $ref: "#/components/schemas/createDashboard_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateDashboardResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - dashboards
  /v1/dashboards/{id}:
    delete:
      description: Delete a dashboard by its id
      operationId: deleteDashboard
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteDashboardResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - dashboards
    get:
      description: Retrieve a dashboard by its id
      operationId: getDashboard
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetDashboardResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - dashboards
    put:
      description: Update a dashboard by its id
      operationId: updateDashboard
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateDashboard_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateDashboardResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - dashboards
  /v1/monitors:
    get:
      description: Retrieve all monitors
      operationId: listMonitors
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMonitorsResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - monitors
    post:
      description: Create a new monitor
      operationId: createMonitor
      requestBody:
        content:
          application/json:
            examples:
              example1:
                value:
                  name: High Error Rate Alert
                  message: Error rate exceeded threshold. Check the API gateway logs.
                  tags:
                  - key: severity
                    value: critical
                  configuration:
                    type: log
                    timeframe: 5
                    groupByFields: []
                    queries:
                    - aggregate:
                        type: count
                      filter: level:ERROR service:api-gateway
                    conditions:
                    - formula: q1
                      operator: greater_than
                      threshold: 100
                    noDataBehavior: resolve
                  priority: 1
                  owner: abc-123-def
                  dashboardId: 789-abc-def
                  permissions: all
              example2:
                value:
                  name: New Error Pattern Detector
                  message: A new error pattern was detected in the logs.
                  tags:
                  - key: team
                    value: platform
                  configuration:
                    type: log-error-pattern
                    aggregationAlertLogic: each
                    noDataBehavior: keep_last_status
                    filter:
                      teamIds:
                      - abc-123-def
                      env: production
                      service: api-gateway
                  priority: 2
                  owner: abc-123-def
                  dashboardId: 789-abc-def
                  permissions: all
            schema:
              $ref: "#/components/schemas/createMonitor_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateMonitorResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - monitors
  /v1/monitors/{id}:
    delete:
      description: Delete a monitor by its id
      operationId: deleteMonitor
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteMonitorResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - monitors
    get:
      description: Retrieve a monitor by its id
      operationId: getMonitor
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMonitorResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - monitors
    put:
      description: Update a monitor by its id
      operationId: updateMonitor
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              example1:
                value:
                  name: High Error Rate Alert
                  message: Error rate exceeded threshold. Check the API gateway logs.
                  tags:
                  - key: severity
                    value: critical
                  configuration:
                    type: log
                    timeframe: 5
                    groupByFields: []
                    queries:
                    - aggregate:
                        type: count
                      filter: level:ERROR service:api-gateway
                    conditions:
                    - formula: q1
                      operator: greater_than
                      threshold: 100
                    noDataBehavior: resolve
                  priority: 1
                  owner: abc-123-def
                  dashboardId: 789-abc-def
                  permissions: all
              example2:
                value:
                  name: New Error Pattern Detector
                  message: A new error pattern was detected in the logs.
                  tags:
                  - key: team
                    value: platform
                  configuration:
                    type: log-error-pattern
                    aggregationAlertLogic: each
                    noDataBehavior: keep_last_status
                    filter:
                      teamIds:
                      - abc-123-def
                      env: production
                      service: api-gateway
                  priority: 2
                  owner: abc-123-def
                  dashboardId: 789-abc-def
                  permissions: all
            schema:
              $ref: "#/components/schemas/createMonitor_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateMonitorResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - monitors
  /v1/notification-rules:
    get:
      description: Retrieve all notification rules
      operationId: listNotificationRules
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListNotificationRulesResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - notification-rules
    post:
      description: Create a new notification rule
      operationId: createNotificationRule
      requestBody:
        content:
          application/json:
            example:
              name: Critical Alerts
              teamsFilter:
                type: all-teams
              prioritiesFilter:
              - 1
              - 2
              transitionTypesFilter:
              - triggered
              - resolved
              clusterIdsFilter: []
              owner: abc-123-def
              isActive: true
              tags:
              - key: channel
                value: alerts
              targets:
              - id: 789-abc-def
                config:
                  type: email
                  addresses:
                  - oncall@example.com
            schema:
              $ref: "#/components/schemas/createNotificationRule_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateNotificationRuleResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - notification-rules
  /v1/notification-rules/{id}:
    delete:
      description: Delete a notification rule by its id
      operationId: deleteNotificationRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteNotificationRuleResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - notification-rules
    get:
      description: Retrieve a notification rule by its id
      operationId: getNotificationRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetNotificationRuleResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - notification-rules
    put:
      description: Update a notification rule by its id
      operationId: updateNotificationRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: Critical Alerts
              teamsFilter:
                type: all-teams
              prioritiesFilter:
              - 1
              - 2
              transitionTypesFilter:
              - triggered
              - resolved
              clusterIdsFilter: []
              owner: abc-123-def
              isActive: true
              tags:
              - key: channel
                value: alerts
              targets:
              - id: 789-abc-def
                config:
                  type: email
                  addresses:
                  - oncall@example.com
            schema:
              $ref: "#/components/schemas/createNotificationRule_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateNotificationRuleResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - notification-rules
  /v1/tag-policies:
    get:
      description: Retrieve all tag policies
      operationId: listTagPolicies
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTagPoliciesResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - tag-policies
    post:
      description: Create a new tag policy
      operationId: createTagPolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createTagPolicy_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateTagPolicyResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - tag-policies
  /v1/tag-policies/{id}:
    delete:
      description: Delete a tag policy by its id
      operationId: deleteTagPolicy
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteTagPolicyResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - tag-policies
    get:
      description: Retrieve a tag policy by its id
      operationId: getTagPolicy
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTagPolicyResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - tag-policies
    put:
      description: Update a tag policy by its id
      operationId: updateTagPolicy
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createTagPolicy_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateTagPolicyResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - tag-policies
  /v1/teams:
    get:
      description: Retrieve all teams
      operationId: listTeams
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTeamsResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - teams
    post:
      description: Create a new team
      operationId: createTeam
      requestBody:
        content:
          application/json:
            example:
              name: Platform Engineering
              description: Responsible for internal developer tooling and infrastructure
              visibility: public
              tags:
              - key: department
                value: engineering
            schema:
              $ref: "#/components/schemas/createTeam_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateTeamResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - teams
  /v1/teams/{id}:
    delete:
      description: Delete a team by its id
      operationId: deleteTeam
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteTeamResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - teams
    get:
      description: Retrieve a team by its id
      operationId: getTeam
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTeamResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - teams
    put:
      description: Update a team by its id
      operationId: updateTeam
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 250
          minLength: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: Platform Engineering
              description: Responsible for internal developer tooling and infrastructure
              visibility: public
              tags:
              - key: department
                value: engineering
            schema:
              $ref: "#/components/schemas/createTeam_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateTeamResponse"
          description: Successful response
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "4XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientErrorEnvelope"
          description: Client error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
        "5XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerErrorEnvelope"
          description: Server error
          headers:
            x-request-id:
              description: "Unique identifier for this API request, useful for debugging\
                \ and support"
              explode: false
              schema:
                type: string
              style: simple
      tags:
      - teams
components:
  schemas:
    ClientErrorResponse:
      description: Standard envelope for client (4XX) API errors
      example:
        code: ABORT_ERROR
        message: message
        statusCode: 0.8008281904610115
      properties:
        code:
          description: Machine readable error code describing what went wrong
          enum:
          - ABORT_ERROR
          - BAD_REQUEST
          - DUPLICATE_KEY_VIOLATION
          - FOREIGN_KEY_VIOLATION
          - FST_ERR_VALIDATION
          - INVALID_INPUT
          - MISSING_PERMISSION
          - PRIVILEGE_ESCALATION
          - ORG_NOT_FOUND_AUTHENTICATION_ERROR
          - RATE_LIMITED
          - RESERVED_TAG_POLICY_ERROR
          - RESOURCE_NOT_FOUND
          - INVALID_INVITATION
          - TAG_POLICY_ALREADY_EXISTS_ERROR
          - TAG_POLICY_VALIDATION_ERROR
          - URL_NOT_FOUND
          type: string
        message:
          description: Human readable explanation of the error
          type: string
        statusCode:
          description: HTTP status code that was returned
          type: number
      required:
      - message
      - statusCode
    ServerErrorResponse:
      description: Standard envelope for server (5XX) API errors
      example:
        code: INTERNAL_ERROR
        message: message
        statusCode: 6.027456183070403
      properties:
        code:
          description: Machine readable error code describing what went wrong
          enum:
          - INTERNAL_ERROR
          - INVALID_QUERY_TO_CLUSTER
          type: string
        message:
          description: Human readable explanation of the error
          type: string
        statusCode:
          description: HTTP status code that was returned
          type: number
      required:
      - message
      - statusCode
    ClientErrorEnvelope:
      description: Standard envelope wrapping all client (4XX) error responses
      example:
        requestId: requestId
        error:
          code: ABORT_ERROR
          message: message
          statusCode: 0.8008281904610115
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        error:
          $ref: "#/components/schemas/ClientErrorResponse"
      required:
      - error
      - requestId
    ServerErrorEnvelope:
      description: Standard envelope wrapping all server (5XX) error responses
      example:
        requestId: requestId
        error:
          code: INTERNAL_ERROR
          message: message
          statusCode: 6.027456183070403
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        error:
          $ref: "#/components/schemas/ServerErrorResponse"
      required:
      - error
      - requestId
    DeleteResponse:
      example:
        success: true
      properties:
        success:
          description: Indicates the resource was deleted successfully
          enum:
          - true
          type: boolean
      required:
      - success
    Dashboard:
      description: Visualization of telemetry data with customizable graphs and filters
      example:
        id: 123-456-abc
        name: API Performance Overview
        owner: abc-123-def
        graphs:
        - id: 789-abc-def
          name: Request Latency P99
          visualization:
            type: timeseries
            source: metrics
            queries:
            - aggregate:
                type: percentile
                field: duration
                percentile: 99
              filter: service:api-gateway
          layout:
            x: 0
            "y": 0
            w: 6
            h: 4
        filters:
        - key: env
          values:
          - production
        tags:
        - key: team
          value: platform
        timePreset: past-1-hour
      properties:
        id:
          description: Identifier of the dashboard
          type: string
        name:
          description: Display name of the dashboard
          type: string
        owner:
          description: Team ID that owns and manages the dashboard
          type: string
        graphs:
          description: Ordered widgets that compose the dashboard
          items:
            $ref: "#/components/schemas/Graph"
          type: array
        filters:
          description: Filters applied to every widget on the dashboard
          items:
            $ref: "#/components/schemas/createDashboard_request_filters_inner"
          maxItems: 10
          type: array
        tags:
          description: List of key/value tags applied to the resource
          items:
            $ref: "#/components/schemas/Tag"
          maxItems: 50
          title: Tags
          type: array
        timePreset:
          enum:
          - past-5-minutes
          - past-15-minutes
          - past-30-minutes
          - past-1-hour
          - past-2-hours
          - past-4-hours
          - past-6-hours
          - past-12-hours
          - past-24-hours
          - past-2-days
          - past-3-days
          - past-7-days
          - past-30-days
          - past-3-months
          - current-day
          - current-week
          - current-month
          - current-year
          - previous-day
          - previous-week
          - previous-month
          - previous-3-months
          - previous-year
          type: string
      required:
      - graphs
      - id
      - name
      - owner
    ListDashboardsResponse:
      example:
        data:
        - id: 123-456-abc
          name: API Performance Overview
          owner: abc-123-def
          graphs:
          - id: 789-abc-def
            name: Request Latency P99
            visualization:
              type: timeseries
              source: metrics
              queries:
              - aggregate:
                  type: percentile
                  field: duration
                  percentile: 99
                filter: service:api-gateway
            layout:
              x: 0
              "y": 0
              w: 6
              h: 4
          filters:
          - key: env
            values:
            - production
          tags:
          - key: team
            value: platform
          timePreset: past-1-hour
        - id: 123-456-abc
          name: API Performance Overview
          owner: abc-123-def
          graphs:
          - id: 789-abc-def
            name: Request Latency P99
            visualization:
              type: timeseries
              source: metrics
              queries:
              - aggregate:
                  type: percentile
                  field: duration
                  percentile: 99
                filter: service:api-gateway
            layout:
              x: 0
              "y": 0
              w: 6
              h: 4
          filters:
          - key: env
            values:
            - production
          tags:
          - key: team
            value: platform
          timePreset: past-1-hour
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          items:
            $ref: "#/components/schemas/Dashboard"
          type: array
      required:
      - data
      - requestId
    GetDashboardResponse:
      example:
        data:
          id: 123-456-abc
          name: API Performance Overview
          owner: abc-123-def
          graphs:
          - id: 789-abc-def
            name: Request Latency P99
            visualization:
              type: timeseries
              source: metrics
              queries:
              - aggregate:
                  type: percentile
                  field: duration
                  percentile: 99
                filter: service:api-gateway
            layout:
              x: 0
              "y": 0
              w: 6
              h: 4
          filters:
          - key: env
            values:
            - production
          tags:
          - key: team
            value: platform
          timePreset: past-1-hour
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          $ref: "#/components/schemas/Dashboard"
      required:
      - data
      - requestId
    CreateDashboardResponse:
      example:
        data:
          id: 123-456-abc
          name: API Performance Overview
          owner: abc-123-def
          graphs:
          - id: 789-abc-def
            name: Request Latency P99
            visualization:
              type: timeseries
              source: metrics
              queries:
              - aggregate:
                  type: percentile
                  field: duration
                  percentile: 99
                filter: service:api-gateway
            layout:
              x: 0
              "y": 0
              w: 6
              h: 4
          filters:
          - key: env
            values:
            - production
          tags:
          - key: team
            value: platform
          timePreset: past-1-hour
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          $ref: "#/components/schemas/Dashboard"
      required:
      - data
      - requestId
    UpdateDashboardResponse:
      example:
        data:
          id: 123-456-abc
          name: API Performance Overview
          owner: abc-123-def
          graphs:
          - id: 789-abc-def
            name: Request Latency P99
            visualization:
              type: timeseries
              source: metrics
              queries:
              - aggregate:
                  type: percentile
                  field: duration
                  percentile: 99
                filter: service:api-gateway
            layout:
              x: 0
              "y": 0
              w: 6
              h: 4
          filters:
          - key: env
            values:
            - production
          tags:
          - key: team
            value: platform
          timePreset: past-1-hour
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          $ref: "#/components/schemas/Dashboard"
      required:
      - data
      - requestId
    DeleteDashboardResponse:
      example:
        data:
          success: true
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          $ref: "#/components/schemas/DeleteResponse"
      required:
      - data
      - requestId
    Monitor:
      description: Monitor allowing to send alerts based on telemetry data
      example:
        id: 123-456-abc
        name: High Error Rate Alert
        message: Error rate exceeded threshold. Check the API gateway logs.
        tags:
        - key: severity
          value: critical
        configuration:
          type: log
          timeframe: 5
          groupByFields: []
          queries:
          - aggregate:
              type: count
            filter: level:ERROR service:api-gateway
          conditions:
          - formula: q1
            operator: greater_than
            threshold: 100
          noDataBehavior: resolve
        priority: 1
        owner: abc-123-def
        dashboardId: 789-abc-def
        permissions: all
      properties:
        id:
          description: Identifier of the monitor
          type: string
        name:
          description: Display name of the monitor
          type: string
        owner:
          description: Team ID that owns and manages the monitor
          type: string
        message:
          description: Message to be displayed if a notification is triggered
          type: string
        tags:
          description: List of key/value tags applied to the resource
          items:
            $ref: "#/components/schemas/Tag"
          maxItems: 50
          title: Tags
          type: array
        configuration:
          $ref: "#/components/schemas/createMonitor_request_configuration"
        priority:
          description: Priority of the monitor
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          type: number
        permissions:
          description: This controls which data the resource can see
          enum:
          - all
          - owning-team-and-public
          - owning-team-only
          type: string
        dashboardId:
          description: Identifier of a dashboard related to the monitor
          type: string
      required:
      - configuration
      - id
      - name
      - owner
      - permissions
      - priority
    ListMonitorsResponse:
      example:
        data:
        - id: 123-456-abc
          name: High Error Rate Alert
          message: Error rate exceeded threshold. Check the API gateway logs.
          tags:
          - key: severity
            value: critical
          configuration:
            type: log
            timeframe: 5
            groupByFields: []
            queries:
            - aggregate:
                type: count
              filter: level:ERROR service:api-gateway
            conditions:
            - formula: q1
              operator: greater_than
              threshold: 100
            noDataBehavior: resolve
          priority: 1
          owner: abc-123-def
          dashboardId: 789-abc-def
          permissions: all
        - id: 123-456-abc
          name: High Error Rate Alert
          message: Error rate exceeded threshold. Check the API gateway logs.
          tags:
          - key: severity
            value: critical
          configuration:
            type: log
            timeframe: 5
            groupByFields: []
            queries:
            - aggregate:
                type: count
              filter: level:ERROR service:api-gateway
            conditions:
            - formula: q1
              operator: greater_than
              threshold: 100
            noDataBehavior: resolve
          priority: 1
          owner: abc-123-def
          dashboardId: 789-abc-def
          permissions: all
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          items:
            $ref: "#/components/schemas/Monitor"
          type: array
      required:
      - data
      - requestId
    GetMonitorResponse:
      example:
        data:
          id: 123-456-abc
          name: High Error Rate Alert
          message: Error rate exceeded threshold. Check the API gateway logs.
          tags:
          - key: severity
            value: critical
          configuration:
            type: log
            timeframe: 5
            groupByFields: []
            queries:
            - aggregate:
                type: count
              filter: level:ERROR service:api-gateway
            conditions:
            - formula: q1
              operator: greater_than
              threshold: 100
            noDataBehavior: resolve
          priority: 1
          owner: abc-123-def
          dashboardId: 789-abc-def
          permissions: all
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          $ref: "#/components/schemas/Monitor"
      required:
      - data
      - requestId
    CreateMonitorResponse:
      example:
        data:
          id: 123-456-abc
          name: High Error Rate Alert
          message: Error rate exceeded threshold. Check the API gateway logs.
          tags:
          - key: severity
            value: critical
          configuration:
            type: log
            timeframe: 5
            groupByFields: []
            queries:
            - aggregate:
                type: count
              filter: level:ERROR service:api-gateway
            conditions:
            - formula: q1
              operator: greater_than
              threshold: 100
            noDataBehavior: resolve
          priority: 1
          owner: abc-123-def
          dashboardId: 789-abc-def
          permissions: all
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          $ref: "#/components/schemas/Monitor"
      required:
      - data
      - requestId
    UpdateMonitorResponse:
      example:
        data:
          id: 123-456-abc
          name: High Error Rate Alert
          message: Error rate exceeded threshold. Check the API gateway logs.
          tags:
          - key: severity
            value: critical
          configuration:
            type: log
            timeframe: 5
            groupByFields: []
            queries:
            - aggregate:
                type: count
              filter: level:ERROR service:api-gateway
            conditions:
            - formula: q1
              operator: greater_than
              threshold: 100
            noDataBehavior: resolve
          priority: 1
          owner: abc-123-def
          dashboardId: 789-abc-def
          permissions: all
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          $ref: "#/components/schemas/Monitor"
      required:
      - data
      - requestId
    DeleteMonitorResponse:
      example:
        data:
          success: true
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          $ref: "#/components/schemas/DeleteResponse"
      required:
      - data
      - requestId
    Rule:
      description: Rules to trigger notifications to targets based on alert events
      example:
        id: 123-456-abc
        name: Critical Alerts
        teamsFilter:
          type: all-teams
        prioritiesFilter:
        - 1
        - 2
        transitionTypesFilter:
        - triggered
        - resolved
        clusterIdsFilter: []
        owner: abc-123-def
        isActive: true
        tags:
        - key: channel
          value: alerts
        targets:
        - id: 789-abc-def
          config:
            type: email
            addresses:
            - oncall@example.com
      properties:
        id:
          description: Identifier of the notification rule
          type: string
        name:
          description: Display name of the notification rule
          type: string
        teamsFilter:
          $ref: "#/components/schemas/Rule_teamsFilter"
        prioritiesFilter:
          description: Priorities that narrow down the alerts that can trigger a notification
          items:
            enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            type: number
          type: array
        transitionTypesFilter:
          description: Alert state transitions that can trigger a notification
          items:
            enum:
            - triggered
            - resolved
            - no-data
            type: string
          type: array
        clusterIdsFilter:
          description: Cluster IDs that can trigger a notification
          items:
            type: string
          type: array
        owner:
          description: Team ID that owns and manages the rule
          type: string
        isActive:
          type: boolean
        tags:
          description: List of key/value tags applied to the resource
          items:
            $ref: "#/components/schemas/Tag"
          maxItems: 50
          title: Tags
          type: array
        targets:
          description: Notification targets that can receive notifications when the
            rule matches
          items:
            $ref: "#/components/schemas/Rule_targets_inner"
          type: array
      required:
      - clusterIdsFilter
      - id
      - isActive
      - name
      - owner
      - prioritiesFilter
      - targets
      - teamsFilter
      - transitionTypesFilter
    ListNotificationRulesResponse:
      example:
        data:
        - id: 123-456-abc
          name: Critical Alerts
          teamsFilter:
            type: all-teams
          prioritiesFilter:
          - 1
          - 2
          transitionTypesFilter:
          - triggered
          - resolved
          clusterIdsFilter: []
          owner: abc-123-def
          isActive: true
          tags:
          - key: channel
            value: alerts
          targets:
          - id: 789-abc-def
            config:
              type: email
              addresses:
              - oncall@example.com
        - id: 123-456-abc
          name: Critical Alerts
          teamsFilter:
            type: all-teams
          prioritiesFilter:
          - 1
          - 2
          transitionTypesFilter:
          - triggered
          - resolved
          clusterIdsFilter: []
          owner: abc-123-def
          isActive: true
          tags:
          - key: channel
            value: alerts
          targets:
          - id: 789-abc-def
            config:
              type: email
              addresses:
              - oncall@example.com
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          items:
            $ref: "#/components/schemas/Rule"
          type: array
      required:
      - data
      - requestId
    GetNotificationRuleResponse:
      example:
        data:
          id: 123-456-abc
          name: Critical Alerts
          teamsFilter:
            type: all-teams
          prioritiesFilter:
          - 1
          - 2
          transitionTypesFilter:
          - triggered
          - resolved
          clusterIdsFilter: []
          owner: abc-123-def
          isActive: true
          tags:
          - key: channel
            value: alerts
          targets:
          - id: 789-abc-def
            config:
              type: email
              addresses:
              - oncall@example.com
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          $ref: "#/components/schemas/Rule"
      required:
      - data
      - requestId
    CreateNotificationRuleResponse:
      example:
        data:
          id: 123-456-abc
          name: Critical Alerts
          teamsFilter:
            type: all-teams
          prioritiesFilter:
          - 1
          - 2
          transitionTypesFilter:
          - triggered
          - resolved
          clusterIdsFilter: []
          owner: abc-123-def
          isActive: true
          tags:
          - key: channel
            value: alerts
          targets:
          - id: 789-abc-def
            config:
              type: email
              addresses:
              - oncall@example.com
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          $ref: "#/components/schemas/Rule"
      required:
      - data
      - requestId
    UpdateNotificationRuleResponse:
      example:
        data:
          id: 123-456-abc
          name: Critical Alerts
          teamsFilter:
            type: all-teams
          prioritiesFilter:
          - 1
          - 2
          transitionTypesFilter:
          - triggered
          - resolved
          clusterIdsFilter: []
          owner: abc-123-def
          isActive: true
          tags:
          - key: channel
            value: alerts
          targets:
          - id: 789-abc-def
            config:
              type: email
              addresses:
              - oncall@example.com
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          $ref: "#/components/schemas/Rule"
      required:
      - data
      - requestId
    DeleteNotificationRuleResponse:
      example:
        data:
          success: true
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          $ref: "#/components/schemas/DeleteResponse"
      required:
      - data
      - requestId
    TagPolicy:
      description: Policy that enforces tag requirements on Tsuga assets or telemetry
        data
      example:
        owner: owner
        isRequired: true
        teamScope:
          mode: include
          teamIds:
          - teamIds
          - teamIds
          - teamIds
          - teamIds
          - teamIds
        configuration:
          assetTypes:
          - logs
          - logs
          shouldInsertWarning: true
          dropSample: 8.008281904610115
          type: telemetry
        name: name
        description: description
        id: id
        isActive: true
        tagKey: tagKey
        allowedTagValues:
        - allowedTagValues
        - allowedTagValues
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        isActive:
          type: boolean
        tagKey:
          type: string
        allowedTagValues:
          items:
            type: string
          type: array
        isRequired:
          type: boolean
        teamScope:
          $ref: "#/components/schemas/createTagPolicy_request_teamScope"
        configuration:
          $ref: "#/components/schemas/createTagPolicy_request_configuration"
        owner:
          type: string
      required:
      - allowedTagValues
      - configuration
      - id
      - isActive
      - isRequired
      - name
      - tagKey
    ListTagPoliciesResponse:
      example:
        data:
        - owner: owner
          isRequired: true
          teamScope:
            mode: include
            teamIds:
            - teamIds
            - teamIds
            - teamIds
            - teamIds
            - teamIds
          configuration:
            assetTypes:
            - logs
            - logs
            shouldInsertWarning: true
            dropSample: 8.008281904610115
            type: telemetry
          name: name
          description: description
          id: id
          isActive: true
          tagKey: tagKey
          allowedTagValues:
          - allowedTagValues
          - allowedTagValues
        - owner: owner
          isRequired: true
          teamScope:
            mode: include
            teamIds:
            - teamIds
            - teamIds
            - teamIds
            - teamIds
            - teamIds
          configuration:
            assetTypes:
            - logs
            - logs
            shouldInsertWarning: true
            dropSample: 8.008281904610115
            type: telemetry
          name: name
          description: description
          id: id
          isActive: true
          tagKey: tagKey
          allowedTagValues:
          - allowedTagValues
          - allowedTagValues
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          items:
            $ref: "#/components/schemas/TagPolicy"
          type: array
      required:
      - data
      - requestId
    GetTagPolicyResponse:
      example:
        data:
          owner: owner
          isRequired: true
          teamScope:
            mode: include
            teamIds:
            - teamIds
            - teamIds
            - teamIds
            - teamIds
            - teamIds
          configuration:
            assetTypes:
            - logs
            - logs
            shouldInsertWarning: true
            dropSample: 8.008281904610115
            type: telemetry
          name: name
          description: description
          id: id
          isActive: true
          tagKey: tagKey
          allowedTagValues:
          - allowedTagValues
          - allowedTagValues
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          $ref: "#/components/schemas/TagPolicy"
      required:
      - data
      - requestId
    CreateTagPolicyResponse:
      example:
        data:
          owner: owner
          isRequired: true
          teamScope:
            mode: include
            teamIds:
            - teamIds
            - teamIds
            - teamIds
            - teamIds
            - teamIds
          configuration:
            assetTypes:
            - logs
            - logs
            shouldInsertWarning: true
            dropSample: 8.008281904610115
            type: telemetry
          name: name
          description: description
          id: id
          isActive: true
          tagKey: tagKey
          allowedTagValues:
          - allowedTagValues
          - allowedTagValues
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          $ref: "#/components/schemas/TagPolicy"
      required:
      - data
      - requestId
    UpdateTagPolicyResponse:
      example:
        data:
          owner: owner
          isRequired: true
          teamScope:
            mode: include
            teamIds:
            - teamIds
            - teamIds
            - teamIds
            - teamIds
            - teamIds
          configuration:
            assetTypes:
            - logs
            - logs
            shouldInsertWarning: true
            dropSample: 8.008281904610115
            type: telemetry
          name: name
          description: description
          id: id
          isActive: true
          tagKey: tagKey
          allowedTagValues:
          - allowedTagValues
          - allowedTagValues
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          $ref: "#/components/schemas/TagPolicy"
      required:
      - data
      - requestId
    DeleteTagPolicyResponse:
      example:
        data:
          success: true
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          $ref: "#/components/schemas/DeleteResponse"
      required:
      - data
      - requestId
    Team:
      description: Collection of users used to manage ownership and access to resources
      example:
        id: abc-123-def
        name: Platform Engineering
        description: Responsible for internal developer tooling and infrastructure
        visibility: public
        tags:
        - key: department
          value: engineering
      properties:
        id:
          description: Identifier of the team
          type: string
        name:
          description: Human readable team name displayed throughout the app
          type: string
        description:
          type: string
        visibility:
          description: Controls whether the resources of the team are discoverable
            by users
          enum:
          - public
          - private
          type: string
        tags:
          description: List of key/value tags applied to the resource
          items:
            $ref: "#/components/schemas/Tag"
          maxItems: 50
          title: Tags
          type: array
      required:
      - id
      - name
      - visibility
    ListTeamsResponse:
      example:
        data:
        - id: abc-123-def
          name: Platform Engineering
          description: Responsible for internal developer tooling and infrastructure
          visibility: public
          tags:
          - key: department
            value: engineering
        - id: abc-123-def
          name: Platform Engineering
          description: Responsible for internal developer tooling and infrastructure
          visibility: public
          tags:
          - key: department
            value: engineering
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          items:
            $ref: "#/components/schemas/Team"
          type: array
      required:
      - data
      - requestId
    GetTeamResponse:
      example:
        data:
          id: abc-123-def
          name: Platform Engineering
          description: Responsible for internal developer tooling and infrastructure
          visibility: public
          tags:
          - key: department
            value: engineering
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          $ref: "#/components/schemas/Team"
      required:
      - data
      - requestId
    CreateTeamResponse:
      example:
        data:
          id: abc-123-def
          name: Platform Engineering
          description: Responsible for internal developer tooling and infrastructure
          visibility: public
          tags:
          - key: department
            value: engineering
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          $ref: "#/components/schemas/Team"
      required:
      - data
      - requestId
    UpdateTeamResponse:
      example:
        data:
          id: abc-123-def
          name: Platform Engineering
          description: Responsible for internal developer tooling and infrastructure
          visibility: public
          tags:
          - key: department
            value: engineering
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          $ref: "#/components/schemas/Team"
      required:
      - data
      - requestId
    DeleteTeamResponse:
      example:
        data:
          success: true
        requestId: requestId
      properties:
        requestId:
          description: Identifier used to trace the lifecycle of this API request
          type: string
        data:
          $ref: "#/components/schemas/DeleteResponse"
      required:
      - data
      - requestId
    AggregateCount:
      properties:
        type:
          description: Counts the total number of records
          enum:
          - count
          type: string
      required:
      - type
      title: Count
    AggregateUniqueCount:
      properties:
        type:
          description: Counts the distinct values of the field
          enum:
          - unique-count
          type: string
        field:
          description: Attribute containing the values to aggregate
          maxLength: 250
          minLength: 0
          type: string
      required:
      - field
      - type
      title: UniqueCount
    AggregateAverage:
      properties:
        type:
          description: Calculates the average value of the selected field
          enum:
          - average
          type: string
        field:
          description: Attribute containing the values to aggregate
          maxLength: 250
          minLength: 0
          type: string
      required:
      - field
      - type
      title: Average
    AggregateMax:
      properties:
        type:
          description: Finds the largest value of the field
          enum:
          - max
          type: string
        field:
          description: Attribute containing the values to aggregate
          maxLength: 250
          minLength: 0
          type: string
      required:
      - field
      - type
      title: Max
    AggregateMin:
      properties:
        type:
          description: Finds the smallest value of the field
          enum:
          - min
          type: string
        field:
          description: Attribute containing the values to aggregate
          maxLength: 250
          minLength: 0
          type: string
      required:
      - field
      - type
      title: Min
    AggregateSum:
      properties:
        type:
          description: Sums the values of the selected field
          enum:
          - sum
          type: string
        field:
          description: Attribute containing the values to aggregate
          maxLength: 250
          minLength: 0
          type: string
      required:
      - field
      - type
      title: Sum
    AggregatePercentile:
      properties:
        type:
          description: Calculates a percentile of the selected field
          enum:
          - percentile
          type: string
        field:
          description: Attribute containing the values to aggregate
          maxLength: 250
          minLength: 0
          type: string
        percentile:
          type: number
      required:
      - field
      - percentile
      - type
      title: Percentile
    FunctionPerSecond:
      properties:
        type:
          description: Normalizes the metric to events per second
          enum:
          - per-second
          type: string
      required:
      - type
      title: PerSecond
    FunctionPerMinute:
      properties:
        type:
          description: Normalizes the metric to events per minute
          enum:
          - per-minute
          type: string
      required:
      - type
      title: PerMinute
    FunctionPerHour:
      properties:
        type:
          description: Normalizes the metric to events per hour
          enum:
          - per-hour
          type: string
      required:
      - type
      title: PerHour
    FunctionRate:
      properties:
        type:
          description: Calculates the rate of change
          enum:
          - rate
          type: string
      required:
      - type
      title: Rate
    FunctionIncrease:
      properties:
        type:
          description: '`Increase` is designed for cumulative metrics. It computes
            the increase of cumulative metrics automatically handling counter resets.
            When used with an aggregation like `sum` it combines all series without
            requiring an explicit group-by.'
          enum:
          - increase
          type: string
      required:
      - type
      title: Increase
    FunctionRolling:
      properties:
        type:
          description: Computes a rolling window aggregate
          enum:
          - rolling
          type: string
        window:
          description: Duration of the rolling window
          maxLength: 250
          minLength: 1
          type: string
      required:
      - type
      - window
      title: Rolling
    FunctionLog:
      properties:
        type:
          description: Applies a logarithm transformation to the values
          enum:
          - log
          type: string
        base:
          description: The base of the logarithm
          minimum: 2
          type: integer
      required:
      - base
      - type
      title: Log
    FunctionPower:
      properties:
        type:
          description: Raises values to a specified power
          enum:
          - power
          type: string
        exponent:
          description: The exponent to raise values to
          type: integer
      required:
      - exponent
      - type
      title: Power
    FunctionSqrt:
      properties:
        type:
          description: Applies a square root transformation to the values
          enum:
          - sqrt
          type: string
      required:
      - type
      title: Sqrt
    MonitorConfigurationMetric:
      properties:
        type:
          enum:
          - metric
          type: string
        conditions:
          items:
            $ref: "#/components/schemas/MonitorConfigurationMetric_conditions_inner"
          type: array
        noDataBehavior:
          enum:
          - alert
          - resolve
          - keep_last_status
          - consider_zero
          type: string
        timeframe:
          description: Timeframe of the monitor in minutes
          type: number
        groupByFields:
          description: Monitor group by configuration. Warning! Note that the limit
            setting is currently ignored.
          items:
            $ref: "#/components/schemas/MonitorConfigurationMetric_groupByFields_inner"
          maxItems: 1
          type: array
        aggregationAlertLogic:
          enum:
          - no_aggregation
          - all
          - any
          - each
          - proportion
          type: string
        proportionAlertThreshold:
          maximum: 99
          minimum: 1
          type: integer
        queries:
          description: Aggregations that may be combined together in the same query
          items:
            $ref: "#/components/schemas/MonitorAggregationQuery"
          maxItems: 15
          type: array
      required:
      - conditions
      - groupByFields
      - noDataBehavior
      - queries
      - timeframe
      - type
    MonitorConfigurationLog:
      properties:
        type:
          enum:
          - log
          type: string
        conditions:
          items:
            $ref: "#/components/schemas/MonitorConfigurationMetric_conditions_inner"
          type: array
        noDataBehavior:
          enum:
          - alert
          - resolve
          - keep_last_status
          - consider_zero
          type: string
        timeframe:
          description: Timeframe of the monitor in minutes
          type: number
        groupByFields:
          description: Monitor group by configuration. Warning! Note that the limit
            setting is currently ignored.
          items:
            $ref: "#/components/schemas/MonitorConfigurationMetric_groupByFields_inner"
          maxItems: 1
          type: array
        aggregationAlertLogic:
          enum:
          - no_aggregation
          - all
          - any
          - each
          - proportion
          type: string
        proportionAlertThreshold:
          maximum: 99
          minimum: 1
          type: integer
        queries:
          description: Aggregations that may be combined together in the same query
          items:
            $ref: "#/components/schemas/MonitorAggregationQuery"
          maxItems: 15
          type: array
      required:
      - conditions
      - groupByFields
      - noDataBehavior
      - queries
      - timeframe
      - type
    MonitorConfigurationTrace:
      properties:
        type:
          enum:
          - trace
          type: string
        conditions:
          items:
            $ref: "#/components/schemas/MonitorConfigurationMetric_conditions_inner"
          type: array
        noDataBehavior:
          enum:
          - alert
          - resolve
          - keep_last_status
          - consider_zero
          type: string
        timeframe:
          description: Timeframe of the monitor in minutes
          type: number
        groupByFields:
          description: Monitor group by configuration. Warning! Note that the limit
            setting is currently ignored.
          items:
            $ref: "#/components/schemas/MonitorConfigurationMetric_groupByFields_inner"
          maxItems: 1
          type: array
        aggregationAlertLogic:
          enum:
          - no_aggregation
          - all
          - any
          - each
          - proportion
          type: string
        proportionAlertThreshold:
          maximum: 99
          minimum: 1
          type: integer
        queries:
          description: Aggregations that may be combined together in the same query
          items:
            $ref: "#/components/schemas/MonitorAggregationQuery"
          maxItems: 15
          type: array
      required:
      - conditions
      - groupByFields
      - noDataBehavior
      - queries
      - timeframe
      - type
    MonitorConfigurationAnomalyLog:
      properties:
        type:
          enum:
          - anomaly-log
          type: string
        condition:
          $ref: "#/components/schemas/MonitorConfigurationAnomalyLog_condition"
        noDataBehavior:
          enum:
          - alert
          - resolve
          - keep_last_status
          type: string
        timeframe:
          description: Timeframe of the monitor in minutes
          type: number
        groupByFields:
          description: Monitor group by configuration. Warning! Note that the limit
            setting is currently ignored.
          items:
            $ref: "#/components/schemas/MonitorConfigurationMetric_groupByFields_inner"
          maxItems: 1
          type: array
        aggregationAlertLogic:
          enum:
          - no_aggregation
          - all
          - any
          - each
          - proportion
          type: string
        proportionAlertThreshold:
          maximum: 99
          minimum: 1
          type: integer
        queries:
          description: Aggregations that may be combined together in the same query
          items:
            $ref: "#/components/schemas/MonitorAggregationQuery"
          maxItems: 15
          type: array
      required:
      - condition
      - groupByFields
      - noDataBehavior
      - queries
      - timeframe
      - type
    MonitorConfigurationAnomalyMetric:
      properties:
        type:
          enum:
          - anomaly-metric
          type: string
        condition:
          $ref: "#/components/schemas/MonitorConfigurationAnomalyLog_condition"
        noDataBehavior:
          enum:
          - alert
          - resolve
          - keep_last_status
          type: string
        timeframe:
          description: Timeframe of the monitor in minutes
          type: number
        groupByFields:
          description: Monitor group by configuration. Warning! Note that the limit
            setting is currently ignored.
          items:
            $ref: "#/components/schemas/MonitorConfigurationMetric_groupByFields_inner"
          maxItems: 1
          type: array
        aggregationAlertLogic:
          enum:
          - no_aggregation
          - all
          - any
          - each
          - proportion
          type: string
        proportionAlertThreshold:
          maximum: 99
          minimum: 1
          type: integer
        queries:
          description: Aggregations that may be combined together in the same query
          items:
            $ref: "#/components/schemas/MonitorAggregationQuery"
          maxItems: 15
          type: array
      required:
      - condition
      - groupByFields
      - noDataBehavior
      - queries
      - timeframe
      - type
    MonitorConfigurationLogErrorPattern:
      properties:
        type:
          enum:
          - log-error-pattern
          type: string
        aggregationAlertLogic:
          enum:
          - each
          type: string
        noDataBehavior:
          enum:
          - keep_last_status
          type: string
        filter:
          $ref: "#/components/schemas/MonitorConfigurationLogErrorPattern_filter"
      required:
      - aggregationAlertLogic
      - filter
      - noDataBehavior
      - type
    MonitorConfigurationCertificateExpiry:
      properties:
        type:
          enum:
          - certificate-expiry
          type: string
        warnBeforeInDays:
          maximum: 365
          minimum: 1
[...]
